[2020-01-23 15:07] g4s8 opened #1 "Base HTTP interfaces"

[2020-01-31 12:27] g4s8 opened #3 "Simple implementation of HTTP interfaces"
Add simple implementations of request and response interfaces to build MVP Artipie server.

[2020-01-31 12:30] 0crat commented on #3
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-31 12:30] 0crat commented on #3
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-31 12:30] 0crat commented on #3
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-01-31 12:31] 0crat commented on #3
The job [#3](https://github.com/artipie/http/issues/3) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8e61b688-da85-464b-9cbd-76e1064aa44a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2020-02-03 12:28] 0pdd opened #5 "package-info.java:28-32: Implements TkResponse class. It..."
The puzzle `3-7995f123` from #3 has to be resolved:

https://github.com/artipie/http/blob/661805a6d7f756d7fac34ffc5bb5544816d197dc/src/main/java/com/artipie/http/tk/package-info.java#L28-L32

The puzzle was created by @g4s8 on 03-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2020-02-03 12:28] 0pdd opened #6 "TkRequest.java:41-44: Add a unit test for this class...."
The puzzle `3-3dab05e8` from #3 has to be resolved:

https://github.com/artipie/http/blob/661805a6d7f756d7fac34ffc5bb5544816d197dc/src/main/java/com/artipie/http/tk/TkRequest.java#L41-L44

The puzzle was created by @g4s8 on 03-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2020-02-03 12:28] 0crat commented on #5
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-03 12:28] 0pdd opened #7 "TkRequest.java:83-89: Implement this class. It should..."
The puzzle `3-21935464` from #3 has to be resolved:

https://github.com/artipie/http/blob/661805a6d7f756d7fac34ffc5bb5544816d197dc/src/main/java/com/artipie/http/tk/TkRequest.java#L83-L89

The puzzle was created by @g4s8 on 03-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2020-02-03 12:28] 0pdd commented on #3
@g4s8 3 puzzles [#5](https://github.com/artipie/http/issues/5), [#6](https://github.com/artipie/http/issues/6), [#7](https://github.com/artipie/http/issues/7) are still not solved.

[2020-02-03 12:28] 0crat commented on #5
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.0](https://github.com/zerocracy/farm): Issue: artipie/http#5, Action: `opened`

[2020-02-03 12:31] g4s8 commented on #3
Done in #4

[2020-02-03 12:31] #3 closed

[2020-02-03 12:31] 0crat commented on #7
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-03 12:31] 0crat commented on #7
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.0](https://github.com/zerocracy/farm): Issue: artipie/http#7, Action: `opened`

[2020-02-03 12:32] 0crat commented on #6
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-03 12:32] 0crat commented on #6
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.0](https://github.com/zerocracy/farm): Issue: artipie/http#6, Action: `opened`

[2020-02-03 13:02] 0crat commented on #7
The job [#7](https://github.com/artipie/http/issues/7) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3cbb73b6-b0fd-4bab-8a54-355f7b1b71b9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2020-02-03 13:15] 0crat commented on #6
The job [#6](https://github.com/artipie/http/issues/6) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0c6ff3b3-3b9d-4120-a38c-ded273df38bf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2020-02-03 13:27] 0crat commented on #6
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-03 13:27] 0crat commented on #7
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-03 14:06] 0crat commented on #3
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-03 16:36] #6 closed

[2020-02-03 16:36] 0pdd commented on #6
The puzzle `3-3dab05e8` has disappeared from the source code, that's why I closed this issue.

[2020-02-03 16:36] 0pdd commented on #3
@g4s8 2 puzzles [#5](https://github.com/artipie/http/issues/5), [#7](https://github.com/artipie/http/issues/7) are still not solved; solved: [#6](https://github.com/artipie/http/issues/6).

[2020-02-03 17:01] 0crat commented on #6
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-03 18:19] 0crat commented on #6
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 08:47] g4s8 commented on #1
Done in #2

[2020-02-04 08:47] #1 closed

[2020-02-04 09:10] 0crat commented on #5
The job [#5](https://github.com/artipie/http/issues/5) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2f1d8c27-c91e-4eba-84b3-7c5b8eb15dcf); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task i

[2020-02-04 09:54] 0crat commented on #1
Job `gh:artipie/http#1` is not assigned, can't get performer

[2020-02-04 10:05] 0crat commented on #5
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 10:11] 0crat commented on #1
This job is not in scope

[2020-02-04 13:03] #7 closed

[2020-02-04 13:03] 0pdd commented on #7
The puzzle `3-21935464` has disappeared from the source code, that's why I closed this issue.

[2020-02-04 13:03] 0pdd opened #11 "TkRequest.java:79-81: Add a unit test to verify cancel..."
The puzzle `7-5352e0ad` from #7 has to be resolved:

https://github.com/artipie/http/blob/4090c033cc8503b74c0ae8ba7ffebd9d71e06f6d/src/main/java/com/artipie/http/tk/TkRequest.java#L79-L81

The puzzle was created by @g4s8 on 04-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixe

[2020-02-04 13:03] 0pdd commented on #3
@g4s8 2 puzzles [#11](https://github.com/artipie/http/issues/11), [#5](https://github.com/artipie/http/issues/5) are still not solved; solved: [#6](https://github.com/artipie/http/issues/6), [#7](https://github.com/artipie/http/issues/7).

[2020-02-04 13:03] 0pdd commented on #7
@0pdd the puzzle [#11](https://github.com/artipie/http/issues/11) is still not solved.

[2020-02-04 13:07] 0crat commented on #11
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-04 13:37] 0crat commented on #7
Job was finished in 24 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-04 13:43] g4s8 opened #12 "Request line helper object"
Add helper object to parse request line. Right now we need method string and URL.

[2020-02-04 13:43] g4s8 commented on #12
@0crat assign me

[2020-02-04 14:11] 0crat commented on #12
@g4s8 The job [#12](https://github.com/artipie/http/issues/12) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/31e26d0c-3859-42d8-9809-1404e6e946be); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-04 14:16] 0crat commented on #7
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 14:31] 0crat commented on #12
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 15:05] 0crat commented on #12
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-04 15:17] 0crat commented on #12
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-05 08:40] Sammers21 opened #14 "Front interface should be improved"
The `Front` interface now has a blocking interface, which forces implementations to block a calling thread, such an approach should be avoided. `CompletableFuture` should be used for that.

One more thing is naming. `Front` is not specific enough.

[2020-02-05 08:40] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-05 08:41] g4s8 commented on #14
@0crat assign me

[2020-02-05 09:35] 0crat commented on #14
@g4s8 The job [#14](https://github.com/artipie/http/issues/14) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/520c5a08-f474-42ab-acb0-0db97b95d677); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-05 10:15] 0crat commented on #14
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-05 10:51] g4s8 commented on #14
@Sammers21 fixed in #15 PR, please close this ticket.

[2020-02-05 11:20] #14 closed

[2020-02-05 11:33] g4s8 opened #17 "Response with status"
Add response to override status line.

[2020-02-05 11:34] 0crat commented on #14
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-05 12:20] 0crat commented on #14
Job was finished in 2 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-02-05 12:48] g4s8 opened #19 "Request / response redesign"
Redesign `Request`, `Response` and `Slice` interfaces to make it reactive.

[2020-02-05 12:48] g4s8 commented on #19
@0crat assign @Sammers21

[2020-02-05 12:57] 0crat commented on #14
Order was finished: +35 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-05 13:00] 0crat commented on #19
@g4s8 The job [#19](https://github.com/artipie/http/issues/19) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f3860703-716c-4f70-8d5c-8e55fffbeb8c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-02-05 14:12] 0crat commented on #19
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-05 14:33] 0crat commented on #19
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-05 15:33] 0crat commented on #14
@g4s8[/z](https://www.0crat.com/u/g4s8) everybody who has role `DEV` is banned at [#14](https://github.com/artipie/http/issues/14); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as in [§14](http

[2020-02-06 10:29] #19 closed

[2020-02-06 10:29] #11 closed

[2020-02-06 10:29] 0pdd commented on #11
The puzzle `7-5352e0ad` has disappeared from the source code, that's why I closed this issue.

[2020-02-06 10:29] 0pdd commented on #3
@g4s8 the puzzle [#5](https://github.com/artipie/http/issues/5) is still not solved; solved: [#11](https://github.com/artipie/http/issues/11), [#6](https://github.com/artipie/http/issues/6), [#7](https://github.com/artipie/http/issues/7).

[2020-02-06 10:29] 0pdd commented on #7
@0pdd the only puzzle [#11](https://github.com/artipie/http/issues/11) is solved here.

[2020-02-06 14:23] #5 closed

[2020-02-06 14:23] 0pdd commented on #5
The puzzle `3-7995f123` has disappeared from the source code, that's why I closed this issue.

[2020-02-06 14:23] 0pdd opened #24 "RequestLineFrom.java:103-105: Check idx value to avoid..."
The puzzle `12-587fa439` from #12 has to be resolved:

https://github.com/artipie/http/blob/8e05d2ac38112e06735dc4c21b1dff7f83d69623/src/main/java/com/artipie/http/rq/RequestLineFrom.java#L103-L105

The puzzle was created by @g4s8 on 06-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2020-02-06 14:23] 0pdd commented on #3
@g4s8 all 4 puzzles are solved here: [#11](https://github.com/artipie/http/issues/11), [#5](https://github.com/artipie/http/issues/5), [#6](https://github.com/artipie/http/issues/6), [#7](https://github.com/artipie/http/issues/7).

[2020-02-06 14:23] 0pdd commented on #12
@g4s8 the puzzle [#24](https://github.com/artipie/http/issues/24) is still not solved.

[2020-02-06 14:56] yegor256 commented on #17
@rultor release, tag is `0.1.0`

[2020-02-06 14:57] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21315-582943670)

[2020-02-06 15:00] rultor commented on #17
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21315-582943670) (spent 2min)

[code]

[2020-02-06 15:25] yegor256 commented on #17
@rultor release, tag is `0.1.0`

[2020-02-06 15:26] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21315-582957032)

[2020-02-06 15:39] rultor commented on #17
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21315-582957032) (spent 12min)

[code]

[2020-02-06 16:12] amihaiemil opened #26 "Stop Releasing From Different Tickets!"
I am watching these repos and I noticed you guys are telling rultor to ``release`` from all over the place (in different Issues and PRs).

It's better to make a new Issue for each release and inside its description the releaser should describe what does the release contain.

If you do it chaotically, nobody will be able to tell which release contains which feature.

[2020-02-06 16:12] 0crat commented on #26
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-06 16:12] amihaiemil commented on #26
@g4s8 @yegor256 @Sammers21 Please read this.

[2020-02-06 17:10] Sammers21 commented on #26
Rultor publish the release logs, that is not a problem

[2020-02-06 18:31] amihaiemil commented on #26
@Sammers21 It's not the same thing. The Rultor Log might display 50 different commits with possibly poor commit messages. It's better if someone makes a short summary with a few bullet points...

[2020-02-07 06:27] yegor256 commented on #17
@g4s8 something is wrong here

[2020-02-07 10:45] g4s8 commented on #12
Done in #13 PR

[2020-02-07 10:45] #12 closed

[2020-02-07 12:06] g4s8 opened #29 "Response with body"
Add response with bytes or text body

[2020-02-07 12:06] g4s8 commented on #29
@0crat assign me

[2020-02-07 12:07] 0crat commented on #12
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-07 13:12] 0crat commented on #29
@g4s8 The job [#29](https://github.com/artipie/http/issues/29) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0d499647-c1eb-4177-a5dc-c4d1fbe2c74d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-07 13:19] 0crat commented on #29
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-07 13:20] 0crat commented on #29
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-07 13:21] 0crat commented on #29
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 07:07] Guseyn opened #31 "please add some info how to use this module in readme"

[2020-02-10 07:07] 0crat commented on #31
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-10 07:07] 0crat commented on #31
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 07:28] g4s8 commented on #31
@0crat assign me

[2020-02-10 07:34] g4s8 commented on #17
@rultor release, tag=`0.1`

[2020-02-10 07:35] rultor commented on #17
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21315-583991492)

[2020-02-10 07:47] rultor commented on #17
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21315-583991492) (took me 11min)

[2020-02-10 09:07] 0crat commented on #31
@g4s8 The job [#31](https://github.com/artipie/http/issues/31) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/df0d6a4f-c8f3-4911-a00e-878c5553c0e1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-02-10 09:23] 0crat commented on #31
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-10 10:08] 0crat commented on #31
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @guseyn[/z](https://www.0crat.com/u/guseyn)

[2020-02-10 15:13] Guseyn opened #32 "Reactive parser for multipart."

[2020-02-10 15:13] 0crat commented on #32
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-10 15:13] 0crat commented on #32
@guseyn[/z](https://www.0crat.com/u/guseyn) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-10 15:24] Guseyn commented on #32
for @Guseyn

[2020-02-10 15:30] g4s8 commented on #31
@Guseyn see #33

[2020-02-10 16:53] 0crat commented on #19
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-02-11 08:40] g4s8 commented on #19
@0crat out

[2020-02-11 11:25] 0crat commented on #19
Order was finished: +30 point(s) just awarded to @sammers21[/z](https://www.0crat.com/u/sammers21)

[2020-02-12 00:24] 0crat commented on #5
@g4s8[/z](https://www.0crat.com/u/g4s8) resigned from [#5](https://github.com/artipie/http/issues/5), since the job is not in scope anymore

[2020-02-12 04:31] 0crat commented on #5
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.51.6](https://github.com/zerocracy/farm): CID: [75f9feba-4127-4488-944b-ad23277ec4b3](https://www.0crat.com/footprint/CT2E6TK9B/75f9feba-4127-4488-944b-ad23277ec4b3), Type: "Order was canceled"

[2020-02-14 08:34] g4s8 commented on #32
@Guseyn we need ticket description here

[2020-02-14 08:34] #31 closed

[2020-02-14 09:11] 0crat commented on #31
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-18 07:17] g4s8 commented on #17
Done in #21

[2020-02-18 08:20] 0pdd opened #37 "RsWithBody.java:38-41: Create a unit test for this class..."
The puzzle `29-b88cdf36` from #29 has to be resolved:

https://github.com/artipie/http/blob/c993c2b10014563b5bbde9115fe4b4b976e17f09/src/main/java/com/artipie/http/rs/RsWithBody.java#L38-L41

The puzzle was created by @g4s8 on 18-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2020-02-18 08:20] 0pdd commented on #29
@g4s8 the puzzle [#37](https://github.com/artipie/http/issues/37) is still not solved.

[2020-02-18 08:21] 0crat commented on #37
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-18 11:39] paulodamaso opened #38 "Create constants for HTTP values"
It would be a good idea to create constants to HTTP values, for example:
- HTTP_OK = 200
- HTTP_NOT_FOUND = 404
- HTTP_METHOD_GET = "GET"
- HTTP_METHOD_POST = "POST"
And so on. Then, these constants would be used in all other projects, getting rid of all the magic numbers we currently have both in code and tests

[2020-02-18 11:39] 0crat commented on #38
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-19 07:24] g4s8 opened #41 "Async implementations with exception handling"
Move `Async*` implementations from https://github.com/artipie/artipie/issues/27
to this module and implement exception handling for `CompletableStage` of responses and slices. In case of unhandled error state in `CompletionStage` we should return HTTP response with 500 status code.

[2020-02-19 07:53] 0crat commented on #41
The job [#41](https://github.com/artipie/http/issues/41) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0ed58f98-9ba7-4a16-af67-28d7e37b7352); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-02-19 08:05] 0crat commented on #41
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-19 08:08] 0crat commented on #41
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-19 08:25] 0crat commented on #41
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-20 12:52] 0pdd opened #46 "RqMultipart.java:38-41: Implement this class. It should..."
The puzzle `32-7952a3d2` from #32 has to be resolved:

https://github.com/artipie/http/blob/4f72e29e24654052ebd667db6bb9f537b167b693/src/main/java/com/artipie/http/rq/RqMultipart.java#L38-L41

The puzzle was created by @g4s8 on 20-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-02-20 12:52] 0pdd opened #47 "RqMultipart.java:69-71: Add secondary constructor..."
The puzzle `32-5080620a` from #32 has to be resolved:

https://github.com/artipie/http/blob/4f72e29e24654052ebd667db6bb9f537b167b693/src/main/java/com/artipie/http/rq/RqMultipart.java#L69-L71

The puzzle was created by @g4s8 on 20-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2020-02-20 12:52] 0pdd commented on #32
@Guseyn 2 puzzles [#46](https://github.com/artipie/http/issues/46), [#47](https://github.com/artipie/http/issues/47) are still not solved.

[2020-02-20 12:53] 0crat commented on #47
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-20 12:53] 0crat commented on #46
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-20 13:10] 0crat commented on #46
The job [#46](https://github.com/artipie/http/issues/46) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4d35cd81-c81c-4954-b3ec-6052f9571630); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-02-20 13:27] 0crat commented on #46
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-20 14:35] 0crat commented on #47
The job [#47](https://github.com/artipie/http/issues/47) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/cfe16c49-4478-4121-b768-3526ea4528ff); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-02-20 14:37] g4s8 commented on #29
Done in #36

[2020-02-20 14:37] #29 closed

[2020-02-20 14:39] g4s8 opened #48 "Helper objects for request headers"
Add helper objects for working with request headers.

[2020-02-20 15:34] 0crat commented on #48
The job [#48](https://github.com/artipie/http/issues/48) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/aa7b58c9-3440-4720-86e9-1a6e4cc97f4f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-02-20 15:51] 0crat commented on #47
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-20 16:05] 0crat commented on #29
Order was finished: +30 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-20 16:11] 0crat commented on #48
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-20 16:23] 0crat commented on #48
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-20 16:47] 0crat commented on #48
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-21 14:34] g4s8 opened #51 "HTTP routing"
Add routing mechanism to route requests by URI path, methods, etc

[2020-02-21 15:21] 0crat commented on #51
The job [#51](https://github.com/artipie/http/issues/51) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1f137170-7744-4104-ba30-a44edffe0f0b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-02-21 15:26] 0crat commented on #51
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-21 15:50] 0crat commented on #51
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-21 16:19] 0crat commented on #51
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-22 14:10] maste197 opened #52 "."

[2020-02-22 14:10] 0crat commented on #52
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-22 14:10] 0crat commented on #52
@maste197[/z](https://www.0crat.com/u/maste197) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-22 16:28] pplmk0320202563 opened #53 "."

[2020-02-22 16:28] 0crat commented on #53
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-22 16:28] 0crat commented on #53
@pplmk0320202563[/z](https://www.0crat.com/u/pplmk0320202563) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-22 16:43] Gitboy-7 commented on #38
10gb****data### boundle

[2020-02-22 16:44] Gitboy-7 opened #54 "10gb on mtn free data cheat"
This my link I wanna use

[2020-02-22 16:44] 0crat commented on #54
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-22 16:44] 0crat commented on #54
@gitboy-7[/z](https://www.0crat.com/u/gitboy-7) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-22 20:20] rosemary10111979 opened #55 "10gb****data### boundle"
10gb****data### boundle

_Originally posted by @Gitboy-7 in https://github.com/artipie/http/issues/38#issuecomment-589974047_

[2020-02-22 20:20] 0crat commented on #55
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-22 20:20] 0crat commented on #55
@rosemary10111979[/z](https://www.0crat.com/u/rosemary10111979) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-22 20:20] rosemary10111979 commented on #55
Rock on

[2020-02-22 20:21] rosemary10111979 commented on #55
``

[2020-02-22 20:21] #55 closed

[2020-02-22 20:55] 0crat commented on #55
Job `gh:artipie/http#55` is not assigned, can't get performer

[2020-02-22 20:56] 0crat commented on #55
This job is not in scope

[2020-02-23 12:36] rosemary10111979 commented on #55
Shit up

On Sat, Feb 22, 2020, 1:56 PM Zerocrat <notifications@github.com> wrote:

[2020-02-25 09:53] #53 closed

[2020-02-25 09:53] #52 closed

[2020-02-25 10:02] g4s8 opened #57 "Update to pom 0.3"
Update to latest pom version `0.3` with JDK downgrade to `1.8`

[2020-02-25 10:23] 0crat commented on #52
Job `gh:artipie/http#52` is not assigned, can't get performer

[2020-02-25 10:25] 0crat commented on #52
This job is not in scope

[2020-02-25 10:27] 0crat commented on #57
The job [#57](https://github.com/artipie/http/issues/57) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/e4ca1ffa-56f5-411f-8af0-c2f6471b74b6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-02-25 10:30] 0crat commented on #57
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 10:30] 0crat commented on #57
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 10:31] 0crat commented on #53
Job `gh:artipie/http#53` is not assigned, can't get performer

[2020-02-25 10:32] 0crat commented on #57
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2020-02-25 10:49] 0crat commented on #53
This job is not in scope

[2020-02-25 12:25] g4s8 commented on #57
@rultor release, tag=`0.4`

[2020-02-25 12:28] rultor commented on #57
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21429-590841370)

[2020-02-25 12:43] rultor commented on #57
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21429-590841370) (took me 14min)

[2020-02-25 14:30] #54 closed

[2020-02-25 15:12] 0crat commented on #54
Job `gh:artipie/http#54` is not assigned, can't get performer

[2020-02-25 15:38] 0crat commented on #54
This job is not in scope

[2020-02-27 09:29] 0pdd opened #59 "AsyncSlice.java:41-44: Add unit tests for AsyncSlice and..."
The puzzle `41-f448a190` from #41 has to be resolved:

https://github.com/artipie/http/blob/612eb5835c4b3ce8b80061532741cba5f0aa308e/src/main/java/com/artipie/http/async/AsyncSlice.java#L41-L44

The puzzle was created by @g4s8 on 19-Feb-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem i

[2020-02-27 09:30] 0pdd commented on #41
@g4s8 the puzzle [#59](https://github.com/artipie/http/issues/59) is still not solved.

[2020-02-27 09:30] g4s8 commented on #41
@rultor release, tag=`0.4.1`

[2020-02-27 09:30] 0crat commented on #59
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-02-27 09:31] rultor commented on #41
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21441-591871038)

[2020-02-27 09:39] rultor commented on #41
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21441-591871038) (spent 7min)

[code]

[2020-02-27 12:10] g4s8 commented on #41
@rultor release, tag=`0.4.1`

[2020-02-27 12:10] rultor commented on #41
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21441-591938376)

[2020-02-27 12:16] g4s8 commented on #41
@rultor stop

[2020-02-27 12:17] rultor commented on #41
@g4s8 OK, I'll try to stop current task.

[2020-02-27 12:17] rultor commented on #41
@g4s8 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21441-591940573) (spent 6min)

[code]

[2020-02-27 12:36] g4s8 commented on #41
@rultor release, tag=`0.4.1`

[2020-02-27 12:40] rultor commented on #41
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21441-591948732)

[2020-02-27 12:59] rultor commented on #41
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21441-591948732) (took me 18min)

[2020-03-02 07:42] olegmoz opened #61 "'Response' class is synchronous by design"
Right now 'RsAsync' is async implementation of 'Response'. However 'Response' interface is synchronous by design, it's `send()` method returns `void`, so for caller of 'send()' method it is impossible to tell when `Response` has sent itself to connection.
After discussion with @g4s8 we decided to make `Response.send()` method async.

[2020-03-02 07:42] 0crat commented on #61
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-02 07:42] 0crat commented on #61
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CT2E6TK9B) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-03 13:03] g4s8 commented on #61
@rultor release, tag=`0.5`

[2020-03-03 13:05] rultor commented on #61
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21458-593939290)

[2020-03-03 13:28] rultor commented on #61
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21458-593939290) (took me 22min)

[2020-03-10 18:12] g4s8 opened #64 "Serve files from storage by key as a path"
Add `Slice`s to upload and download data from `Storage` by `Key` from path of request URI

[2020-03-10 18:15] g4s8 commented on #48
Done in #49

[2020-03-10 18:15] #48 closed

[2020-03-11 07:12] 0crat commented on #48
Job `gh:artipie/http#48` is not assigned, can't get performer

[2020-03-11 08:04] 0pdd opened #67 "ByteByByteSplit.java:43-45: Thread safety improvements...."
The puzzle `32-0fde6650` from #32 has to be resolved:

https://github.com/artipie/http/blob/5b955ad486f2a340e590e9d04142040d1ffe9fee/src/main/java/com/artipie/http/stream/ByteByByteSplit.java#L43-L45

The puzzle was created by @Sammers21 on 05-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-03-11 08:04] 0pdd opened #68 "ByteByByteSplit.java:46-48: Cancellation support. For now..."
The puzzle `32-c93fa6a7` from #32 has to be resolved:

https://github.com/artipie/http/blob/5b955ad486f2a340e590e9d04142040d1ffe9fee/src/main/java/com/artipie/http/stream/ByteByByteSplit.java#L46-L48

The puzzle was created by @Sammers21 on 05-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-03-11 08:04] 0pdd opened #69 "ByteByByteSplit.java:49-51: Downstream emission..."
The puzzle `32-e9f722d0` from #32 has to be resolved:

https://github.com/artipie/http/blob/5b955ad486f2a340e590e9d04142040d1ffe9fee/src/main/java/com/artipie/http/stream/ByteByByteSplit.java#L49-L51

The puzzle was created by @Sammers21 on 05-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-03-11 08:04] 0pdd opened #70 "ByteByByteSplit.java:52-54: Full reactive streams tck..."
The puzzle `32-9cb3a871` from #32 has to be resolved:

https://github.com/artipie/http/blob/5b955ad486f2a340e590e9d04142040d1ffe9fee/src/main/java/com/artipie/http/stream/ByteByByteSplit.java#L52-L54

The puzzle was created by @Sammers21 on 05-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when th

[2020-03-11 08:04] 0pdd commented on #32
@Guseyn 6 puzzles [#46](https://github.com/artipie/http/issues/46), [#47](https://github.com/artipie/http/issues/47), [#67](https://github.com/artipie/http/issues/67), [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70) are still not solved.

[2020-03-11 08:05] 0crat commented on #64
The job [#64](https://github.com/artipie/http/issues/64) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/449656da-8165-4019-ba8d-6c8badb3c1a9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-03-11 08:05] 0crat commented on #70
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-11 08:06] 0crat commented on #69
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-11 08:06] 0crat commented on #68
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-11 08:06] 0crat commented on #67
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 07:18] 0pdd opened #72 "SliceRoute.java:57-59: Refactor SliceRoute to get rid of..."
The puzzle `51-aa5d6442` from #51 has to be resolved:

https://github.com/artipie/http/blob/a0205804215e932e9f37efd57e185a1cd0f9634c/src/main/java/com/artipie/http/rt/SliceRoute.java#L57-L59

The puzzle was created by @g4s8 on 11-Mar-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is f

[2020-03-12 07:18] 0pdd commented on #51
@g4s8 the puzzle [#72](https://github.com/artipie/http/issues/72) is still not solved.

[2020-03-12 07:19] 0crat commented on #72
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-12 08:56] g4s8 commented on #51
Done in #72

[2020-03-12 08:56] #51 closed

[2020-03-12 10:08] g4s8 commented on #64
@rultor release, tag=`0.6`

[2020-03-12 10:10] rultor commented on #64
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21521-598105733)

[2020-03-12 10:33] rultor commented on #64
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21521-598105733) (spent 22min)

[code]

[2020-03-12 12:00] g4s8 commented on #64
@rultor release, tag=`0.6`

[2020-03-12 12:04] rultor commented on #64
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21521-598148368)

[2020-03-12 12:19] g4s8 commented on #64
@rultor release, tag=`0.6.1`

[2020-03-12 12:19] rultor commented on #64
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21521-598148368) (spent 15min)

[code]

[2020-03-12 12:23] rultor commented on #64
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21521-598155594)

[2020-03-12 12:29] g4s8 opened #73 "Few minor features"
Add `Slice` implementation for static response object, e.g. `new SliceSimple(new RsWithStatus(200))`

Add default decorator of `Slice`, e.g. `new Slice.Wrap(slice)` to help with constructing new slices.

Add `RtRule` to accept any request to be used as a fallback option.

[2020-03-12 12:46] rultor commented on #64
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21521-598155594) (took me 23min)

[2020-03-12 12:55] 0crat commented on #51
Job `gh:artipie/http#51` is not assigned, can't get performer

[2020-03-13 10:46] g4s8 commented on #64
Done in #65

[2020-03-16 05:20] 0crat commented on #72
The job [#72](https://github.com/artipie/http/issues/72) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d6e42c05-58ca-4d17-9e47-041bc5085aea); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-03-16 11:00] Guseyn opened #74 "Add docs about main components of request, response and information about routing"

[2020-03-16 11:00] 0crat commented on #74
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-18 07:10] g4s8 opened #83 "HTTP module can"

[2020-03-18 07:19] #72 closed

[2020-03-18 07:19] 0pdd commented on #72
The puzzle `51-aa5d6442` has disappeared from the source code, that's why I closed this issue.

[2020-03-18 07:19] 0pdd commented on #51
@g4s8 the only puzzle [#72](https://github.com/artipie/http/issues/72) is solved here.

[2020-03-18 08:49] #67 closed

[2020-03-18 08:49] 0pdd commented on #32
@Guseyn 5 puzzles [#46](https://github.com/artipie/http/issues/46), [#47](https://github.com/artipie/http/issues/47), [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70) are still not solved; solved: [#67](https://github.com/artipie/http/issues/67).

[2020-03-18 10:04] 0crat commented on #67
Job `gh:artipie/http#67` is not assigned, can't get performer

[2020-03-18 11:58] g4s8 commented on #73
@rultor release, tag=`0.7`

[2020-03-18 12:00] rultor commented on #73
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21558-600581631)

[2020-03-18 12:15] rultor commented on #73
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21558-600581631) (took me 14min)

[2020-03-18 12:59] g4s8 opened #85 "Support RqMethod in RtRule.ByMethod"
Let's accept `RqMethod` values in `RtRule.ByMethod` constructor instead of strings. We can keep strings constructor as well but mark is as deprecated.

[2020-03-18 13:12] olegmoz opened #86 "RsHasBody matcher corrupts ByteBuffer's"
RsHasBody corrupts ByteBuffers as they are consumed by this matcher, so response cannot be matched twice

[2020-03-18 13:12] 0crat commented on #86
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-18 13:18] #61 closed

[2020-03-18 14:30] g4s8 commented on #85
@rultor release, tag=`0.7.1`

[2020-03-18 14:32] rultor commented on #85
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21560-600656240)

[2020-03-18 14:35] rultor commented on #85
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21560-600656240) (spent 2min)

[code]

[2020-03-18 15:03] 0crat commented on #61
Job `gh:artipie/http#61` is not assigned, can't get performer

[2020-03-18 15:23] 0crat commented on #85
The job [#85](https://github.com/artipie/http/issues/85) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dbb9572a-301e-44b2-a927-a41eecf41fe4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task

[2020-03-19 07:15] g4s8 commented on #85
@rultor release, tag=`0.7.1`

[2020-03-19 07:15] g4s8 commented on #73
@Guseyn fixed in #79 #80 #81

[2020-03-19 07:15] #73 closed

[2020-03-19 07:17] rultor commented on #85
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21560-601024191)

[2020-03-19 07:32] rultor commented on #85
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21560-601024191) (took me 14min)

[2020-03-19 09:08] 0crat commented on #73
Job `gh:artipie/http#73` is not assigned, can't get performer

[2020-03-19 11:45] #74 closed

[2020-03-19 12:47] 0crat commented on #74
Job `gh:artipie/http#74` is not assigned, can't get performer

[2020-03-23 12:07] #86 closed

[2020-03-23 12:39] 0crat commented on #86
Job `gh:artipie/http#86` is not assigned, can't get performer

[2020-03-23 15:28] #46 closed

[2020-03-23 15:28] 0pdd commented on #46
The puzzle `32-7952a3d2` has disappeared from the source code, that's why I closed this issue.

[2020-03-23 15:29] #47 closed

[2020-03-23 15:29] 0pdd commented on #47
The puzzle `32-5080620a` has disappeared from the source code, that's why I closed this issue.

[2020-03-23 15:29] 0pdd opened #88 "Multipart.java:42-44: Implement Publisher part. Subscribe..."
The puzzle `32-aafaf44f` from #32 has to be resolved:

https://github.com/artipie/http/blob/16bfad340ea584590ad982844710bdc96e398f27/src/main/java/com/artipie/http/rq/Multipart.java#L42-L44

The puzzle was created by @Sammers21 on 17-Mar-20.

Estimate: 120 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-03-23 15:29] 0pdd opened #89 "Multipart.java:45-47: Implement Subscriber part. On..."
The puzzle `32-b383879a` from #32 has to be resolved:

https://github.com/artipie/http/blob/16bfad340ea584590ad982844710bdc96e398f27/src/main/java/com/artipie/http/rq/Multipart.java#L45-L47

The puzzle was created by @Sammers21 on 17-Mar-20.

Estimate: 120 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-03-23 15:29] 0pdd opened #90 "Multipart.java:48-51: Finish implementation. In order to..."
The puzzle `32-8c776bfe` from #32 has to be resolved:

https://github.com/artipie/http/blob/16bfad340ea584590ad982844710bdc96e398f27/src/main/java/com/artipie/http/rq/Multipart.java#L48-L51

The puzzle was created by @Sammers21 on 19-Mar-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem

[2020-03-23 15:29] 0pdd commented on #32
@Guseyn 6 puzzles [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70), [#88](https://github.com/artipie/http/issues/88), [#89](https://github.com/artipie/http/issues/89), [#90](https://github.com/artipie/http/issues/90) are still not solved; solved: [#46](https://github.com/artipie/http/issues/46), [#4

[2020-03-23 15:30] 0crat commented on #90
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-23 15:30] 0crat commented on #89
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-23 15:30] 0crat commented on #88
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-23 15:52] 0crat commented on #46
Job `gh:artipie/http#46` is not assigned, can't get performer

[2020-03-23 15:53] 0crat commented on #47
Job `gh:artipie/http#47` is not assigned, can't get performer

[2020-03-24 06:59] 0crat commented on #88
The job [#88](https://github.com/artipie/http/issues/88) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/31fcf2cc-f1a7-48d5-83bd-61e0048bfd72); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-03-24 06:59] 0crat commented on #89
The job [#89](https://github.com/artipie/http/issues/89) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/01ce340f-f5da-437f-9daf-0f25d3b068e6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-03-25 11:26] #89 closed

[2020-03-25 11:26] 0pdd commented on #32
@Guseyn 5 puzzles [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70), [#88](https://github.com/artipie/http/issues/88), [#90](https://github.com/artipie/http/issues/90) are still not solved; solved: [#46](https://github.com/artipie/http/issues/46), [#47](https://github.com/artipie/http/issues/47), [#6

[2020-03-25 11:53] 0crat commented on #89
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-03-25 14:23] olegmoz opened #93 "Add convinient response matchers"
It is common to check that response body is a string with particular content or JSON.
From this discussion: https://github.com/artipie/nuget-adapter/pull/62#discussion_r397872069

[2020-03-25 14:23] 0crat commented on #93
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-26 12:47] 0pdd opened #95 "PartFromPublisher.java:34-36: Implement delyaed publisher..."
The puzzle `32-9bb15c22` from #32 has to be resolved:

https://github.com/artipie/http/blob/3b00f0945bf8776a1b412de0d36e637fdcca2050/src/main/java/com/artipie/http/rq/PartFromPublisher.java#L34-L36

The puzzle was created by @Sammers21 on 24-Mar-20.

Estimate: 90 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-03-26 12:48] 0pdd commented on #32
@Guseyn 6 puzzles [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70), [#88](https://github.com/artipie/http/issues/88), [#90](https://github.com/artipie/http/issues/90), [#95](https://github.com/artipie/http/issues/95) are still not solved; solved: [#46](https://github.com/artipie/http/issues/46), [#4

[2020-03-26 12:49] 0crat commented on #95
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-26 15:04] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/778f5e71-ab4d-445d-b070-e2f20a0c2fc7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-03-27 10:03] #93 closed

[2020-03-27 10:20] 0crat commented on #93
Job `gh:artipie/http#93` is not assigned, can't get performer

[2020-03-27 12:21] g4s8 opened #96 "Add slice wrapper to cut repo name from path"
Add `Slice` implementation to wrap another `Slice` and modify request data by cutting first part from URI path.

[2020-03-27 12:21] g4s8 opened #97 "Authorization and authentication mechanisms"
Add some objects for authentication and authorization, update readme file.

[2020-03-27 12:55] Sammers21 opened #99 "Table of content for README"
The README is getting bigger and bigger. Having a table of content would improve the user navigation experience

[2020-03-29 07:46] 0crat commented on #88
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-30 12:03] olegmoz opened #100 "Add matcher for response headers"
It would be convenient to have matcher for response header similar to `RsHasStatus` and `RsHasBody`.

[2020-03-30 12:04] 0crat commented on #100
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-03-31 15:45] 0crat commented on #95
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-03-31 18:43] #100 closed

[2020-03-31 19:01] 0crat commented on #100
Job `gh:artipie/http#100` is not assigned, can't get performer

[2020-04-01 07:20] olegmoz commented on #100
@g4s8 could you please make a release with this issue resolved?

[2020-04-01 08:52] olegmoz opened #102 "Add logging"
HTTP module should provide some common ways of logging, so it won't be replicated in adapters & Artipie core.

[2020-04-03 07:07] 0crat commented on #88
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#88](https://github.com/artipie/http/issues/88), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-03 07:32] 0crat commented on #88
The job [#88](https://github.com/artipie/http/issues/88) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9c9f09e5-a662-400f-86ae-feb033c2624a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-03 07:54] victornoel commented on #88
@g4s8 can you explain what is expected here? The todo is not clear at all, the originating issue #32 is empty.

[2020-04-03 10:16] g4s8 opened #113 "Add basic http auth"
Add basic HTTP authentication for files adapter using interfaces from `artipie/http` and use authorization for upload and download.

[2020-04-03 10:20] victornoel commented on #88
@0crat wait for #105 to be merged

@g4s8 apparently this was already solved in #92

[2020-04-03 10:32] g4s8 commented on #88
@victornoel I'd ask @Sammers21 about this issue

[2020-04-05 15:08] 0crat commented on #95
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-04-05 15:17] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/af7de658-567b-41f4-822f-7948dd91024d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-04-05 17:55] ammaratef45 commented on #95
@0crat refuse

[2020-04-05 19:15] 0crat commented on #95
@ammaratef45 The user @ammaratef45[/z](https://www.0crat.com/u/ammaratef45) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2020-04-05 19:18] 0crat commented on #95
@ammaratef45 Job refused in 3 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-05 19:22] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/9e3c1ad3-b995-4dca-bf24-5a24adb06494); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-04-05 19:32] victornoel commented on #95
@0crat refuse

[2020-04-05 19:45] 0crat commented on #95
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2020-04-05 19:45] 0crat commented on #95
@victornoel Job refused in 0 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-06 01:26] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0d16791a-b9d4-403b-990d-1fe02c39e3c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-04-06 12:27] olegmoz commented on #102
@g4s8 please make a release with this issue

[2020-04-06 13:29] olegmoz opened #106 "Support for 204 and 416 HTTP response status codes and PATCH method"
These statuses are not present in RsStatus, but needed to implement pushing an image in Docker regitsry, see https://docs.docker.com/registry/spec/api/#pushing-an-image

[2020-04-06 13:48] olegmoz commented on #106
PATCH method is also required and does not present in HTTP

[2020-04-06 13:57] g4s8 commented on #102
@rultor release, tag=`0.7.3`

[2020-04-06 13:59] rultor commented on #102
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21701-609811609)

[2020-04-06 14:20] rultor commented on #102
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21701-609811609) (took me 19min)

[2020-04-06 15:31] Guseyn commented on #102
@g4s8 could you please close completed tickets.

[2020-04-06 15:41] Guseyn commented on #85
@g4s8 close completed tickets

[2020-04-06 15:43] Guseyn commented on #26
@amihaiemil completely agree + we need close issues in time as it's difficult to follow what's done and what's not.

[2020-04-06 15:44] Guseyn commented on #17
@g4s8 close the ticket! @yegor256 please pay attention to the problem with non closed tickets.

[2020-04-06 16:47] #102 closed

[2020-04-06 17:04] 0crat commented on #102
Job `gh:artipie/http#102` is not assigned, can't get performer

[2020-04-06 22:22] carlosmiranda commented on #95
@0crat refuse

[2020-04-06 23:12] 0crat commented on #95
@carlosmiranda Job refused in 21 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-04-06 23:13] 0crat commented on #95
@carlosmiranda The user @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2020-04-07 09:19] #88 closed

[2020-04-07 09:19] 0pdd commented on #88
The puzzle `32-aafaf44f` has disappeared from the source code, that's why I closed this issue.

[2020-04-07 09:19] 0pdd commented on #32
@Guseyn 5 puzzles [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70), [#90](https://github.com/artipie/http/issues/90), [#95](https://github.com/artipie/http/issues/95) are still not solved; solved: [#46](https://github.com/artipie/http/issues/46), [#47](https://github.com/artipie/http/issues/47), [#6

[2020-04-07 09:20] #85 closed

[2020-04-07 09:23] g4s8 commented on #26
@amihaiemil I think it's OK to release some new feature right from the ticket. For instance, you have a ticket "Logging slice" and when you release from the same ticket, it's clear that you're making a release to introduce new logging implementation. We are releasing quite often, sometimes it's few times a day, I think it would be an overhead to create release tickets for small releases.

[2020-04-07 09:23] #26 closed

[2020-04-07 09:24] #17 closed

[2020-04-07 09:54] 0crat commented on #17
Job `gh:artipie/http#17` is not assigned, can't get performer

[2020-04-07 10:04] 0crat commented on #26
Job `gh:artipie/http#26` is not assigned, can't get performer

[2020-04-07 10:12] 0crat commented on #88
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @victornoel[/z](https://www.0crat.com/u/victornoel), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-07 10:14] sereshqua commented on #88
@0crat quality good

[2020-04-07 16:22] Guseyn opened #109 "RsFull"
Add support to build response with all components: status code, headers and body.

[2020-04-07 16:22] 0crat commented on #109
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 07:28] olenagerasimova opened #110 "Routing example in readme"
Routing example in readme file seems to be outdated:
- `RtRule.ByMethod` ctor now except `RqMethod` itself, not string
- `SliceSimple` ctor signature was also changed
- `SliceRoute.FALLBACK` does not exists
- `Slice.Wrap` excepts only one `Slice`, not many

[2020-04-08 07:28] 0crat commented on #110
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-08 07:30] g4s8 commented on #109
@Guseyn where are you going to use it and how?

[2020-04-08 07:47] #59 closed

[2020-04-08 07:47] 0pdd commented on #41
@g4s8 the only puzzle [#59](https://github.com/artipie/http/issues/59) is solved here.

[2020-04-08 08:04] 0crat commented on #59
Job `gh:artipie/http#59` is not assigned, can't get performer

[2020-04-08 09:13] #41 closed

[2020-04-08 09:31] 0crat commented on #41
Job `gh:artipie/http#41` is not assigned, can't get performer

[2020-04-10 11:27] #106 closed

[2020-04-10 11:42] g4s8 opened #114 "Authorization implementations"
Create `Permissions` (from `artipie/http` module) implementation based on repository yaml configuration files. Permissions structure includes list of users and list of permissions for each user.

We need to support wildcard `*` permissions and users. Permissions for `*` user means that any user has such permissions, `*` permission for user means that the user is allowed to do everything.

Example:

[2020-04-10 11:45] olegmoz commented on #106
@g4s8 could you please release HTTP with this issue? All of this will soon be needed in Docker adapter.

[2020-04-10 11:49] g4s8 commented on #110
@olenagerasimova thanks ,fixed: https://github.com/artipie/http/commit/6aeca62485b2181af3b8904c2058bb0e4bd60780

[2020-04-10 11:49] #110 closed

[2020-04-10 11:54] 0crat commented on #110
Job [#110](https://github.com/artipie/http/issues/110) is closed, can't start order

[2020-04-10 11:54] 0crat commented on #106
Job `gh:artipie/http#106` is not assigned, can't get performer

[2020-04-10 11:55] g4s8 commented on #90
@Sammers21 do you want to complete multipart parsing implementation?

[2020-04-10 11:55] #57 closed

[2020-04-10 11:55] #64 closed

[2020-04-10 12:07] 0crat commented on #110
Job `gh:artipie/http#110` is not assigned, can't get performer

[2020-04-10 12:18] 0crat commented on #57
Job `gh:artipie/http#57` is not assigned, can't get performer

[2020-04-10 13:58] g4s8 opened #115 "Slice to cut initial part of URI path"
Create `Slice` implementation to remove initial part from URI, it will be used by `artipie/artipie` to hide repository routing from repository implementations. The slice should patch request line and remove initial part from URI path, e.g. this request line:
[code]
should be patched to this:
[code]

[2020-04-10 14:27] g4s8 commented on #106
@rultor release, tag=`0.7.4`

[2020-04-10 14:29] rultor commented on #106
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21738-612052477)

[2020-04-10 14:37] rultor commented on #106
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21738-612052477) (took me 7min)

[2020-04-10 20:34] 0crat commented on #115
The job [#115](https://github.com/artipie/http/issues/115) assigned to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dcf47dd7-f572-4020-a57a-83b64fa64cb6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-04-12 19:12] ammaratef45 commented on #115
@0crat wait for #116 review

[2020-04-15 06:21] olenagerasimova opened #118 "`LoggingSlice` - use origin slice as logger"
Let's make small correction in `LoggingSlice` to use origin slice as logger (source). Thus is would be possible to easily filter logs by origin.

This issue was born [here](https://github.com/artipie/npm-proxy-adapter/pull/1/files/a2cf22fe84ae03d008c6af43c95d6d2acada2823#r408256317).

[2020-04-15 06:21] 0crat commented on #118
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-15 18:27] olenagerasimova commented on #24
@0crat assign @olenagerasimova

[2020-04-15 18:29] 0crat commented on #24
@olenagerasimova You can't do "Request order start", unless you have one of these roles: `ARC`, `PO`; current roles of @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) are: `REV`, `DEV`

[2020-04-16 07:00] 0crat commented on #24
The job [#24](https://github.com/artipie/http/issues/24) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f37d3417-5fa8-49fe-ac84-d2206816b9c7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-04-16 10:52] olegmoz opened #120 "Add header matcher"
It is quite common it tests to check headers coming from slice. There is no convenient matcher for it in Hamcrest out of the box or in our library

[2020-04-16 10:52] 0crat commented on #120
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-16 11:40] #97 closed

[2020-04-16 11:57] 0crat commented on #97
Job `gh:artipie/http#97` is not assigned, can't get performer

[2020-04-16 13:33] olegmoz opened #122 "Headers abstarction"
HTTP headers are represented by type `Iterable<Map.Entry<String, String>>`. This is very verbose  type description and it would be better to have at least an alias and a point for possible future extension (ex. find all header values with same name, find header value with case-insensitive name)

[2020-04-16 13:33] 0crat commented on #122
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-16 17:28] Guseyn opened #125 "Make sliceUpload and sliceDownload async so it'd be more stable for even loop systems"

[2020-04-16 17:28] 0crat commented on #125
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-17 11:16] #122 closed

[2020-04-17 11:21] #24 closed

[2020-04-17 11:21] 0pdd commented on #24
The puzzle `12-587fa439` has disappeared from the source code, that's why I closed this issue.

[2020-04-17 11:21] 0pdd commented on #12
@g4s8 the only puzzle [#24](https://github.com/artipie/http/issues/24) is solved here.

[2020-04-17 11:33] 0crat commented on #122
Job `gh:artipie/http#122` is not assigned, can't get performer

[2020-04-17 11:53] 0crat commented on #24
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-17 11:53] 0crat commented on #24
Job was finished in 28 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-04-17 12:30] sereshqua commented on #24
@0crat quality good

[2020-04-17 12:51] #120 closed

[2020-04-17 13:03] olegmoz commented on #120
@g4s8 could you please make a new release with recent changes in HTTP?

[2020-04-17 13:25] 0crat commented on #120
Job `gh:artipie/http#120` is not assigned, can't get performer

[2020-04-20 06:24] olenagerasimova opened #127 "Extract interface from SliceRoute.Path"
Let's say our adapter external http api excepts `get` requests on different endpoint, each endpoint does different job, so we have a `Slice` implementation per endpoint. Then we will have to set routes  somewhere like this:
[code]
If `Path` would've been an interface, we could create `GetPath` implementation that would take pattern and a slice as arguments and encapsulate all the `RtRule` instanti

[2020-04-20 11:34] g4s8 opened #128 "Storage extensions"
Add `Storage` extensions for common behavior across other modules, e.g. for calculating checksums.

[2020-04-20 13:54] g4s8 commented on #113
@rultor release, tag=`0.8`

[2020-04-20 13:56] rultor commented on #113
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21825-616569768)

[2020-04-20 14:07] rultor commented on #113
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21825-616569768) (took me 10min)

[2020-04-21 03:39] ammaratef45 commented on #115
@g4s8 now the PR is merged this should be closed?

[2020-04-21 09:09] olenagerasimova opened #129 "RsHasHeaders does not work"
`RsHasHeaders` does not seem to work properly, please, let's check it. Response in my case is created like this
[code]
where origin is a `DownloadSlice`.

[2020-04-21 09:09] 0crat commented on #129
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 13:12] olegmoz opened #131 "Header class is missing"
Headers in the module are represented by `Map.Entry` interface, yet there is no implementation neither in this module nor in standard Java Runtime library.

[2020-04-21 13:12] 0crat commented on #131
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 13:24] olenagerasimova opened #132 "Add headers to SliceDownload"
I'd suggest adding headers (or just content-type) to `SliceDownload`, would be very handy at least in go-adapter.

[2020-04-21 13:24] 0crat commented on #132
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-21 14:17] olenagerasimova commented on #129
My bad, `RsHasHeaders` works just file.

[2020-04-21 14:17] #129 closed

[2020-04-21 14:34] 0crat commented on #129
Job `gh:artipie/http#129` is not assigned, can't get performer

[2020-04-21 14:37] g4s8 commented on #132
@olenagerasimova how do you suggest determining mime types of binaries? By file magic or somehow else?

[2020-04-21 14:38] Sammers21 commented on #132
Can content-type be inferred from the file extension?

[2020-04-21 14:52] olenagerasimova commented on #132
@g4s8 @Sammers21 no magic or determining content-type from extension, I was thinking simply about adding new field to the class: either list of headers or string for content-type.
Or we can create new decorator for `Slice` to add headers, `SliceWithHeaders`.

[2020-04-22 06:41] olenagerasimova commented on #118
resolved in #126

[2020-04-22 06:41] #118 closed

[2020-04-22 09:26] #131 closed

[2020-04-22 10:07] olegmoz commented on #131
@g4s8 could you please make a new release of HTTP module?

[2020-04-22 11:35] g4s8 commented on #127
@olenagerasimova yes it makes sense

[2020-04-22 11:52] g4s8 commented on #131
@rultor release, tag=`0.8.2`

[2020-04-22 11:53] rultor commented on #131
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21848-617730829)

[2020-04-22 12:01] rultor commented on #131
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21848-617730829) (took me 7min)

[2020-04-22 12:57] olegmoz opened #135 "Convenient var args constructors in header related classes"
Headers are usually occur in code in some small amounts, not in dynamic size collections. So in adapters they are constructed by creating collection from var args, ex:
[code]
It will be convenient to have such var args constructors in `RsWithHeaders`, `Headers.From` and `RsHasHeaders` classes

[2020-04-22 13:07] #132 closed

[2020-04-22 17:00] #135 closed

[2020-04-22 21:57] #109 closed

[2020-04-23 09:18] #113 closed

[2020-04-23 13:03] #125 closed

[2020-04-23 14:59] 0crat commented on #113
Job `gh:artipie/http#113` is not assigned, can't get performer

[2020-04-23 15:05] 0crat commented on #125
Job `gh:artipie/http#125` is not assigned, can't get performer

[2020-04-23 17:47] g4s8 commented on #132
@rultor release, tag=`0.8.3`

[2020-04-23 17:49] rultor commented on #132
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21866-618545859)

[2020-04-23 17:56] rultor commented on #132
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21866-618545859) (took me 7min)

[2020-04-23 23:56] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c621bf03-5c12-40a7-b70e-fbbc91542273); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-04-24 15:29] g4s8 commented on #115
@ammaratef45 thanks

[2020-04-24 15:29] #115 closed

[2020-04-24 15:49] 0crat commented on #115
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @ammaratef45[/z](https://www.0crat.com/u/ammaratef45), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-04-24 15:55] sereshqua commented on #115
@0crat quality good

[2020-04-27 17:32] IlyaMoskva opened #137 "Make BasicIdentities accessable from other packages"
For cases when artipie doesn't know about identity mechanism.
Need to be solved for https://github.com/artipie/files-adapter/issues/13

[2020-04-27 17:32] 0crat commented on #137
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-28 07:02] g4s8 commented on #137
@rultor release, tag=`0.8.4`

[2020-04-28 07:04] rultor commented on #137
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21907-620420896)

[2020-04-28 07:10] rultor commented on #137
@ilyamoskva @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21907-620420896) (spent 6min)

[code]

[2020-04-28 07:14] g4s8 commented on #137
@rultor release, tag=`0.8.4`

[2020-04-28 07:15] rultor commented on #137
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21907-620425720)

[2020-04-28 07:22] rultor commented on #137
@ilyamoskva @g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21907-620425720) (spent 7min)

[code]

[2020-04-28 07:32] g4s8 commented on #137
@rultor release, tag=`0.8.4`

[2020-04-28 07:34] rultor commented on #137
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21907-620433700)

[2020-04-28 07:42] rultor commented on #137
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21907-620433700) (took me 8min)

[2020-04-29 00:50] 0crat commented on #95
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-04-29 11:25] olegmoz opened #139 "Add abstract decorator for `Response` interface"
There is no abstract decorator ready for `Response` interface, it would be nice to have `Response.Wrap` to create new `Response` implementations based on existing ones (`RsWithStatus`, `RsWithHeaders` etc)

[2020-04-29 11:25] 0crat commented on #139
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-04-29 15:42] #139 closed

[2020-05-01 02:03] paulodamaso commented on #95
@g4s8 This puzzle is confusing. Should I continue to implement `PartFromPublisher` and activate `ableToParseBasic` test on `MultipartTest`? If yes, how I'm supposed to discover the headers from `publisher`? Tried to get some info on #32, but there is no description also

[2020-05-06 09:56] olegmoz opened #141 "Missing abstract decorator for `Header`"
There is no abstract decorator for building custom headers, it would be nice to have Header.Wrap to create new header classes by composition

[2020-05-06 09:57] 0crat commented on #141
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-06 14:47] #141 closed

[2020-05-06 15:04] 0crat commented on #141
Job `gh:artipie/http#141` is not assigned, can't get performer

[2020-05-06 17:34] olegmoz commented on #141
@g4s8 could you please release HTTP with this issue fixed?

[2020-05-06 17:50] olenagerasimova commented on #37
@g4s8 assign me please

[2020-05-07 06:35] g4s8 commented on #141
@rultor release, tag=`0.8.5`

[2020-05-07 06:35] 0crat commented on #37
The job [#37](https://github.com/artipie/http/issues/37) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/654e1668-b297-4e3b-b1cb-bb69e9ae5bcc); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-05-07 06:36] rultor commented on #141
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21999-625059201)

[2020-05-07 06:46] rultor commented on #141
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/21999-625059201) (took me 10min)

[2020-05-07 22:33] paulodamaso commented on #95
@g4s8 ping

[2020-05-07 22:33] paulodamaso commented on #95
@0crat wait for answer

[2020-05-08 07:11] g4s8 commented on #95
@paulodamaso I think it's not relevant right now and can be suspended for some time

[2020-05-08 07:11] g4s8 commented on #95
@0crat refuse

[2020-05-08 07:11] g4s8 commented on #95
@0crat out

[2020-05-08 07:15] 0crat commented on #95
@g4s8 The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2020-05-08 07:16] 0crat commented on #95
@g4s8 Job `gh:artipie/http#95` is not assigned, can't get performer

[2020-05-08 07:26] #37 closed

[2020-05-08 07:26] 0pdd commented on #37
The puzzle `29-b88cdf36` has disappeared from the source code, that's why I closed this issue.

[2020-05-08 07:26] 0pdd opened #144 "pom.xml:158-161: Improve code coverage by writing..."
The puzzle `37-ecd3feaa` from #37 has to be resolved:

https://github.com/artipie/http/blob/3c6a61aaf5dd37d6fae1a2878e4ae1cde30313ad/pom.xml#L158-L161

The puzzle was created by @olenagerasimova on 07-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzz

[2020-05-08 07:26] 0pdd commented on #29
@g4s8 the puzzle [#144](https://github.com/artipie/http/issues/144) is still not solved; solved: [#37](https://github.com/artipie/http/issues/37).

[2020-05-08 07:26] 0pdd commented on #37
@0pdd the puzzle [#144](https://github.com/artipie/http/issues/144) is still not solved.

[2020-05-08 07:29] 0crat commented on #144
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-08 08:19] olegmoz opened #145 "Missing status codes for `Content-Length` checking"
To properly implement https://github.com/artipie/artipie/issues/119 it is required to respond with status [413 Payload Too Large](https://tools.ietf.org/html/rfc7231#section-6.5.10) and maybe [411 Length Required](https://tools.ietf.org/html/rfc7231#section-6.5.11)

[2020-05-08 09:10] #145 closed

[2020-05-08 09:19] 0crat commented on #145
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-08 09:27] 0crat commented on #145
Job `gh:artipie/http#145` is not assigned, can't get performer

[2020-05-08 09:29] olegmoz commented on #145
@g4s8 could you release these changes please?

[2020-05-08 11:14] olegmoz commented on #145
@rultor release, tag=0.8.6

[2020-05-08 11:15] rultor commented on #145
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22010-625766870)

[2020-05-08 11:16] rultor commented on #145
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22010-625766870) (spent 24s)

[code]

[2020-05-08 11:17] olegmoz commented on #145
@rultor release, tag=`0.8.6`

[2020-05-08 11:18] rultor commented on #145
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22010-625767856)

[2020-05-08 11:28] rultor commented on #145
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22010-625767856) (took me 9min)

[2020-05-12 06:44] 0crat commented on #37
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-05-12 06:47] olenagerasimova commented on #37
@0crat status

[2020-05-12 07:23] 0crat commented on #37
@olenagerasimova This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#37](https://github.com/artipie/http/issues/37) is [in scope](http://www.zerocracy.com/policy.html#14) for 5days
  * The role is `DEV`
  * The job is assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) for [5days](http://www.zerocracy.com/polic

[2020-05-12 09:06] olegmoz commented on #141
release, tag=`0.8.7`

[2020-05-12 09:06] olegmoz commented on #141
@rultor release, tag=`0.8.7`

[2020-05-12 09:07] rultor commented on #141
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21999-627213898)

[2020-05-12 09:16] rultor commented on #141
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/21999-627213898) (took me 9min)

[2020-05-13 16:23] olenagerasimova commented on #37
@g4s8 please, could you ask 0crat to close this issue?

[2020-05-14 00:56] 0crat commented on #37
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#37](https://github.com/artipie/http/issues/37), since the job is not in scope anymore

[2020-05-14 00:58] 0crat commented on #37
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [8b5aa978-8b96-44dd-8a6d-09258f9f493a](https://www.0crat.com/footprint/CT2E6TK9B/8b5aa978-8b96-44dd-8a6d-09258f9f493a), Type: "Order was canceled"

[2020-05-16 15:04] victornoel opened #148 "Add a SliceDelete"
We need a `SliceDelete` that removes a key from a storage.

We also need to define what will be the corresponding permission for using it, I propose `delete` or `remove`.

This is needed for artipie/files-adapter#15

[2020-05-16 15:04] 0crat commented on #148
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-18 09:06] g4s8 commented on #148
@victornoel yes, it's better to implement this slice in `artipie/http` module. But permission names are related to repository itself, not to http. You can use authorization mechanism from this module in maven repo:
[code]

[2020-05-18 14:25] g4s8 commented on #127
@0crat assign @marceloamadeu

[2020-05-18 14:26] 0crat commented on #127
@g4s8 The job [#127](https://github.com/artipie/http/issues/127) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ea3e9228-9c95-4469-b247-7ed3af1e1f16); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-05-18 14:29] g4s8 commented on #144
@0crat assign @marceloamadeu

[2020-05-18 14:30] 0crat commented on #144
@g4s8 The job [#144](https://github.com/artipie/http/issues/144) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/df16b6bf-f6b0-4b0d-a7f0-bfc66d91e03f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/p

[2020-05-18 14:56] olegmoz opened #149 "`LoggingSlice` should log errors"
If exception is thrown on attempt to handle request by slice `LoggingSlice` does not log anything. This makes it hard to understand problems in faulty slices. It should be logging exceptions as it logs success responses.

[2020-05-18 14:56] 0crat commented on #149
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-19 06:57] g4s8 opened #151 "Authentication should report the result"
`Authentication` has method `verify` which returns void. We need to use the result to determinate does credentials are valid or not

[2020-05-19 06:58] 0crat commented on #151
The job [#151](https://github.com/artipie/http/issues/151) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/44d4e814-fb22-46f7-a7d7-49780eb79db7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-05-19 12:52] g4s8 commented on #151
@rultor release, tag=`0.9`

[2020-05-19 12:52] 0crat commented on #151
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): Issue: artipie/http#151, Action: `created`

[2020-05-19 12:52] rultor commented on #151
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22100-630796296)

[2020-05-19 13:00] rultor commented on #151
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22100-630796296) (took me 8min)

[2020-05-19 14:51] g4s8 commented on #151
@rultor release, tag=`0.9.1`

[2020-05-19 14:52] rultor commented on #151
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22100-630872423)

[2020-05-19 14:55] rultor commented on #151
@g4s8 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22100-630872423) (spent 3min)

[code]

[2020-05-20 05:44] olenagerasimova opened #153 "Create `ResponseMatcher` to avoid code duplication"
While testing slices we have a lot of code like this:
[code]
Let's create `ResponseMatcher` class to avoid duplications. This class can extend `AllOf<>` matcher and have a lot of ctors: with status, with status and headers, with status and body, maybe even empty (status 200 by default) and so on. Something like this:
[code]
Having this class will allow us to get rid of constant creations `AllOf<>(

[2020-05-20 05:44] 0crat commented on #153
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-20 06:14] 0crat commented on #153
The job [#153](https://github.com/artipie/http/issues/153) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/6c245217-82a1-4f63-acf6-bf8200b3a5a2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-05-20 06:28] g4s8 commented on #151
@rultor release, tag=`0.9.2`

[2020-05-20 06:29] rultor commented on #151
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22100-631265245)

[2020-05-20 06:40] rultor commented on #151
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22100-631265245) (took me 10min)

[2020-05-21 10:56] olegmoz opened #156 "`AuthSlice` unauthorized response missing `WWW-Authenticate` header"
Server should respond with 401 status and `WWW-Authenticate` header if requied authentication header is missing from response. This is by RFC, see https://tools.ietf.org/html/rfc7235#section-4.1
This behavior is expected by NuGet client

[2020-05-21 10:56] 0crat commented on #156
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-21 11:35] victornoel opened #158 "Add a SliceListing that lists file in a directory"
This is needed for artipie/maven-adapter#87.

We need a slice that, given a key in the storage, will return a list of the files present in that directory in the form of a simple HTML listing.

We will also maybe need a `SliceRoute` that allow to dispatch requests depending on the fact a key is a directory or a file, for example to be able to say that GET requests get either dispatcher to `SliceDow

[2020-05-21 11:35] 0crat commented on #158
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-21 12:30] g4s8 commented on #158
@victornoel we don't actually have directories or files, we use `Storage` abstraction to hide persistence implementation details. E.g. AWS S3 storage is an **object storage**, it means that it **imitates** directory behavior by using key prefixes, but S3 doesn't have directories or files, and we are not able to check it.
The difference is:
 - file system: `foo/bar/file.text` - hierarchical structu

[2020-05-21 12:43] victornoel commented on #158
@g4s8 ah I understand, so basically, if `storage.list(key)` returns one element that is equal to the key, we consider it's a file, and if it returns multiple elements prefixed by the key then we can consider it a directory for example?

[2020-05-21 12:53] g4s8 commented on #158
@victornoel yes, maybe we can work around it somehow, e.g. by checking for `/` char `list` result. In case of S3 (and file system storage too for consistency) it returns all keys in storage filtered by prefix. E.g. if you run `storage.list("maven")` it will return:
[code]

[2020-05-21 12:59] victornoel commented on #158
@g4s8 but then it's not completely clear how, with the current implementation of `SliceDownload`, we are going to discriminate between the two cases, maybe `SliceDownload` could have an optional constructor argument to delegate to another `Slice` if the file is not found for example? (and the default behaviour would be a 404 `Slice`...).

[2020-05-21 13:00] #156 closed

[2020-05-21 13:02] olegmoz commented on #156
@rultor release, tag=`0.9.3`

[2020-05-21 13:03] rultor commented on #156
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22135-632072931)

[2020-05-21 13:04] rultor commented on #156
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22135-632072931) (spent 17s)

[code]

[2020-05-21 13:05] victornoel commented on #158
@g4s8 and actually, SliceListing would also behave the same, so that we can write:
[code]

Or `Slice` could return an `Optional` and have another abstraction responsible of chaining `Slices` in case they return empty?

[2020-05-21 13:08] olegmoz commented on #156
@g4s8 there is a problem with releasing http module via rultor, could you please look into this?

[2020-05-21 13:17] 0crat commented on #156
Job `gh:artipie/http#156` is not assigned, can't get performer

[2020-05-21 14:47] olegmoz commented on #156
@rultor release, tag=`0.9.3`

[2020-05-21 14:48] rultor commented on #156
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22135-632127392)

[2020-05-21 15:00] rultor commented on #156
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22135-632127392) (took me 12min)

[2020-05-22 13:02] #149 closed

[2020-05-22 13:24] 0crat commented on #149
Job `gh:artipie/http#149` is not assigned, can't get performer

[2020-05-25 15:46] g4s8 commented on #158
@victornoel I don't really like to include `Listing` as a part of `Download` or wise versa, `Optional` is not a valid scenario for `Slice`, since it doesn't return a data object, but `Response` which can send itself to connection. What do you think about this case:
[code]

[2020-05-25 16:19] g4s8 commented on #151
Done

[2020-05-25 16:19] #151 closed

[2020-05-25 16:46] 0crat commented on #151
Job `gh:artipie/http#151` is not assigned, can't get performer

[2020-05-25 16:49] g4s8 commented on #127
@0crat assign @victornoel

[2020-05-25 16:54] 0crat commented on #127
@g4s8 The job [#127](https://github.com/artipie/http/issues/127) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/84ac155e-289b-43ab-8c3f-e2d46f5566d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-26 11:41] olegmoz commented on #149
@rultor release, tag=`0.9.4`

[2020-05-26 11:42] rultor commented on #149
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22187-633972629)

[2020-05-26 11:54] rultor commented on #149
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22187-633972629) (took me 11min)

[2020-05-27 02:35] marceloamadeu commented on #144
@0crat wait for review

[2020-05-27 02:37] marceloamadeu commented on #127
@0crat wait
@g4s8 How do I delete this issue from my agenda since it is now with @victornoel ?
Tks

[2020-05-27 02:44] 0crat commented on #144
@marceloamadeu Job `gh:artipie/http#144` is not assigned, can't get performer

[2020-05-27 02:45] 0crat commented on #127
@marceloamadeu @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) you can't register impediment for this job

[2020-05-27 06:24] g4s8 commented on #127
@0crat status

[2020-05-27 06:46] 0crat commented on #127
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#127](https://github.com/artipie/http/issues/127) is [in scope](http://www.zerocracy.com/policy.html#14) for 2days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [2days](http://www.zerocracy.com/policy.html#8)
  * There

[2020-05-27 11:09] marceloamadeu commented on #144
@0crat status

[2020-05-27 11:10] 0crat commented on #144
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/artipie/http/issues/144) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fhttp%23144%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-27 13:18] g4s8 commented on #127
@0crat assign @victornoel

[2020-05-27 13:21] 0crat commented on #127
@g4s8 The job [#127](https://github.com/artipie/http/issues/127) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c0867338-6512-423f-bb04-3918df376837); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.

[2020-05-27 13:22] 0crat commented on #127
@g4s8 There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.14](https://github.com/zerocracy/farm): CID: [3cbe2c5e-ef86-497d-8c5b-b2dd0d5bf00d](https://www.0crat.com/footprint/CT2E6TK9B/3cbe2c5e-ef86-497d-8c5b-b2dd0d5bf00d), Type: "Order was given"

[2020-05-27 13:23] g4s8 commented on #127
@0crat status

[2020-05-27 13:48] 0crat commented on #127
@g4s8 This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#127](https://github.com/artipie/http/issues/127) is [in scope](http://www.zerocracy.com/policy.html#14) for 25min
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [25min](http://www.zerocracy.com/policy.html#8)
  * There

[2020-05-28 03:05] marceloamadeu commented on #144
@0crat status

[2020-05-28 03:08] 0crat commented on #144
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/artipie/http/issues/144) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fhttp%23144%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-05-28 10:04] olegmoz opened #161 "Add `BasicAuthorizationHeader`"
It would be very helpful to have a way to create `Authorization` header for Basic auth in tests.

[2020-05-28 10:04] 0crat commented on #161
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-05-28 12:31] #153 closed

[2020-05-28 12:56] 0crat commented on #153
Job `gh:artipie/http#153` is not assigned, can't get performer

[2020-05-28 15:21] g4s8 opened #163 "Hide specified path instead of first segment"
Let's change implementation of `HiddenRouteSlice` to hide the provided path instead of first.

[2020-05-28 15:23] 0crat commented on #163
The job [#163](https://github.com/artipie/http/issues/163) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f56c3664-64d9-419a-8944-2aa0331cb276); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-05-29 11:20] #161 closed

[2020-05-29 11:27] olegmoz commented on #161
@rultor release, tag=`0.9.5`

[2020-05-29 11:28] rultor commented on #161
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22222-635921784)

[2020-05-29 11:40] rultor commented on #161
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22222-635921784) (took me 12min)

[2020-05-29 12:01] 0crat commented on #161
Job `gh:artipie/http#161` is not assigned, can't get performer

[2020-05-29 13:48] #144 closed

[2020-05-29 13:48] 0pdd commented on #144
The puzzle `37-ecd3feaa` has disappeared from the source code, that's why I closed this issue.

[2020-05-29 13:48] 0pdd opened #165 "pom.xml:158-161: Improve code coverage by writing..."
The puzzle `144-ecd3feaa` from #144 has to be resolved:

https://github.com/artipie/http/blob/b627434e968898f2a5ced8a4ba6a135e3ad76793/pom.xml#L158-L161

The puzzle was created by marceloamadeu on 27-May-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzl

[2020-05-29 13:48] 0pdd commented on #29
@g4s8 the puzzle [#165](https://github.com/artipie/http/issues/165) is still not solved; solved: [#144](https://github.com/artipie/http/issues/144), [#37](https://github.com/artipie/http/issues/37).

[2020-05-29 13:48] 0pdd commented on #37
@0pdd the puzzle [#165](https://github.com/artipie/http/issues/165) is still not solved; solved: [#144](https://github.com/artipie/http/issues/144).

[2020-05-29 13:48] 0pdd commented on #144
@0pdd the puzzle [#165](https://github.com/artipie/http/issues/165) is still not solved.

[2020-05-30 10:03] victornoel commented on #158
@g4s8 sorry for the delay, that seems good yes, I will update the description

[2020-05-30 10:39] victornoel commented on #127
@0crat wait for #166

[2020-06-01 05:38] olenagerasimova opened #167 "Abstract decorator for `Headers`"
Let's add `Headers.Wrap`.

[2020-06-01 05:38] 0crat commented on #167
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-01 05:41] olenagerasimova commented on #167
@g4s8 please assign me, I've submitted PR for this issue

[2020-06-01 06:53] 0crat commented on #167
The job [#167](https://github.com/artipie/http/issues/167) assigned to @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ba4208e9-b321-4ed1-a237-fafd6df886a6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/pol

[2020-06-01 08:07] olegmoz commented on #163
@rultor release, tag=`0.9.6`

[2020-06-01 08:08] rultor commented on #163
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22244-636683919)

[2020-06-01 08:20] rultor commented on #163
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22244-636683919) (took me 12min)

[2020-06-01 11:25] g4s8 commented on #158
@0crat assign @paulodamaso

[2020-06-01 11:26] 0crat commented on #158
@g4s8 The job [#158](https://github.com/artipie/http/issues/158) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/999eab5f-5985-4ecd-a0be-dac0a26a69c0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/polic

[2020-06-01 11:29] 0crat commented on #148
The job [#148](https://github.com/artipie/http/issues/148) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/ba5af437-1b17-4a83-ab32-275a2f314693); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html

[2020-06-01 14:31] rultor commented on #163
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22244-636893019)

[2020-06-01 14:41] rultor commented on #163
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22244-636893019) (took me 10min)

[2020-06-02 15:21] marceloamadeu commented on #144
@0crat status

[2020-06-02 15:22] 0crat commented on #144
@marceloamadeu This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#144](https://github.com/artipie/http/issues/144) is not in scope
  * Job [footprint](https://www.0crat.com/footprint/CT2E6TK9B?q=%7Bjob%3A%27gh%3Aartipie%2Fhttp%23144%27%2Ctype%3A%7B%24not%3A%2F%5ENotify%2F%7D%7D) (restricted area)

[2020-06-04 07:31] olenagerasimova commented on #167
#168 was merged

[2020-06-04 07:31] #167 closed

[2020-06-04 07:47] 0crat commented on #167
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-06-04 07:50] sereshqua commented on #167
@0crat quality acceptable

[2020-06-04 07:50] sereshqua commented on #167
@g4s8 @olenagerasimova issue creator should not be the same as issue performer, FYI

[2020-06-04 08:32] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/5369ef15-994d-4239-9048-f5ce82838341); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-06-04 08:32] 0crat commented on #90
The job [#90](https://github.com/artipie/http/issues/90) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4ca708c4-1ab0-4791-940e-85602efb3f7f); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-06-04 08:34] g4s8 commented on #90
@Sammers21 please pay attention to all multipart issues

[2020-06-04 08:35] 0crat commented on #68
The job [#68](https://github.com/artipie/http/issues/68) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/0c939498-895d-436f-9687-046269aa775e); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-06-04 08:35] 0crat commented on #69
The job [#69](https://github.com/artipie/http/issues/69) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/97105b49-2b73-43cf-8703-793e03765560); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-06-04 08:35] 0crat commented on #70
The job [#70](https://github.com/artipie/http/issues/70) assigned to @sammers21[/z](https://www.0crat.com/u/sammers21), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a6ac54d5-2955-4daf-b7a4-9e01af09b5de); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); i

[2020-06-05 14:39] brastak opened #169 "Implement group slice"
### Motivation
Group repositories is critical part for successful implementation of full-featured repository management system. It provides a single access point for different kind of concrete repo types: customer can combine several hosted and proxy repositories with single endpoint.

### Implementation details
**http** module: implement `GroupSlice` that get List of underlying Slices in construc

[2020-06-05 14:39] 0crat commented on #169
@g4s8[/z](https://www.0crat.com/u/g4s8) please, pay attention to this issue

[2020-06-05 14:40] brastak commented on #169
@g4s8 Please, take a look. This is overall description of the feature. When we will submit the approach, part of it will be moved to corresponded modules

[2020-06-05 15:07] g4s8 commented on #169
@brastak thanks. Sounds good. I have a few comments:

I don't think it's correct, since user is not able to control the order of underlying repositories to use, we've discussed similar issue here, please take a look: https://github.com/artipie/docker-adapter/issues/160#issuecomment-637532326 We may send all requests simultaneously but process them in user defined order.

As I remember Docker regis

[2020-06-05 15:30] victornoel commented on #127
@olenagerasimova this has been merged, can we close this issue?

[2020-06-05 18:59] olenagerasimova commented on #127
@victornoel sure, thanks

[2020-06-05 18:59] #127 closed

[2020-06-05 21:06] sereshqua commented on #127
@0crat quality good

[2020-06-05 22:46] 0crat commented on #127
The job [#127](https://github.com/artipie/http/issues/127) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/2a6658ee-bc8d-4c00-9466-7d82ae1a42f7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-06-06 06:14] victornoel commented on #127
@0crat status

[2020-06-06 06:31] 0crat commented on #127
@victornoel This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#127](https://github.com/artipie/http/issues/127) is [in scope](http://www.zerocracy.com/policy.html#14) for 10days
  * The role is `DEV`
  * The job is assigned to @victornoel[/z](https://www.0crat.com/u/victornoel) for [8hr](http://www.zerocracy.com/policy.html#8)
  *

[2020-06-06 06:32] victornoel commented on #127
@g4s8 0crat incorrectly reassigned this job

[2020-06-06 11:50] 0crat commented on #148
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-08 16:36] victornoel commented on #127
@g4s8 can you do something? if I refuse I will be penalized and also someone else will get reassigned...

[2020-06-09 08:46] 0crat commented on #68
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-09 08:47] 0crat commented on #90
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-09 08:48] 0crat commented on #69
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-09 08:48] 0crat commented on #70
@sammers21[/z](https://www.0crat.com/u/sammers21) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-10 23:46] 0crat commented on #127
@victornoel[/z](https://www.0crat.com/u/victornoel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-11 07:08] g4s8 commented on #127
@0crat refuse

[2020-06-11 07:09] g4s8 commented on #127
@0crat out

[2020-06-11 07:10] 0crat commented on #127
@g4s8 Job `gh:artipie/http#127` is not assigned, can't get performer

[2020-06-11 07:10] 0crat commented on #127
@g4s8 Job `gh:artipie/http#127` is not assigned, can't get performer

[2020-06-11 19:57] Sammers21 opened #170 "Rt rule for any match operation"
In order to avoid code duplication like the following one:
[code]
when an endpoint could respond to several types of request, I'd like to introduce the `RtRule.Any` rule. By using this rule you could avoid code duplications like the one above and replace them with the one below:

[code]

And, as a memory-wise benefit, only one instance of `PushChartSlice` is created.

[2020-06-11 19:58] 0crat commented on #170
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-12 21:59] paulodamaso commented on #158
@0crat wait for https://github.com/artipie/http/pull/172

[2020-06-12 22:34] paulodamaso commented on #148
@0crat wait for #173

[2020-06-15 10:53] olegmoz opened #174 "Standard headers"
There are standard HTTP headers which are used across many adapters, such as `Content-Length`, `Content-Type`, `Location`, `WWW-Authenticate` etc. It would be nice to have dedicated classes for such headers.

[2020-06-15 10:53] 0crat commented on #174
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-15 12:32] g4s8 opened #176 "RsWithBody content-length headers"
Let's add `Content-Length` based on #175 header when sending `RsWithBody` of publisher with known size.
@artipie/contributors FYI

[2020-06-15 12:33] 0crat commented on #176
The job [#176](https://github.com/artipie/http/issues/176) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/4e139a41-da21-4f90-9f3e-e580aab799c6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-06-16 04:36] Sammers21 commented on #170
@g4s8, could you release a new version?

[2020-06-16 05:31] g4s8 commented on #170
@Sammers21 you can do it by yourself in asto and http modules

[2020-06-16 05:33] Sammers21 commented on #170
@rultor, release tag=`0.10.0`

[2020-06-16 05:34] rultor commented on #170
@sammers21 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22369-644540851)

[2020-06-16 05:43] rultor commented on #170
@sammers21 Done! FYI, the full log is [here](https://www.rultor.com/t/22369-644540851) (took me 8min)

[2020-06-16 08:32] 0crat commented on #95
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-16 08:32] 0crat commented on #95
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [5a4aafa4-94b4-46c3-9e3b-1f93753fb355](https://www.0crat.com/footprint/CT2E6TK9B/5a4aafa4-94b4-46c3-9e3b-1f93753fb355), Type: "Order was canceled"

[2020-06-16 08:44] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3e229ce9-5282-464c-95e3-8e69350b6bf4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-16 08:44] 0crat commented on #90
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#90](https://github.com/artipie/http/issues/90), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-16 08:45] 0crat commented on #68
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#68](https://github.com/artipie/http/issues/68), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-16 08:56] 0crat commented on #70
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#70](https://github.com/artipie/http/issues/70), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-16 08:56] 0crat commented on #69
The user @sammers21[/z](https://www.0crat.com/u/sammers21) resigned from [#69](https://github.com/artipie/http/issues/69), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2020-06-16 09:45] 0crat commented on #90
The job [#90](https://github.com/artipie/http/issues/90) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/d31ff69d-de04-412a-85d3-1c720c090ae6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-16 10:45] 0crat commented on #68
The job [#68](https://github.com/artipie/http/issues/68) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c3a38050-91d3-4fe8-b85c-cb2f48d5d6fd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-16 11:54] 0crat commented on #70
The job [#70](https://github.com/artipie/http/issues/70) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/a6245a78-0e47-40bc-ae5d-3929f547869c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-06-16 12:46] 0crat commented on #69
The job [#69](https://github.com/artipie/http/issues/69) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/dead58e4-471a-473e-beb7-3cbaa4557e91); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-06-16 16:57] victornoel commented on #95
@0crat refuse

[2020-06-16 16:57] victornoel commented on #90
@0crat refuse

[2020-06-16 16:57] victornoel commented on #68
@0crat refuse

[2020-06-16 16:58] 0crat commented on #95
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2020-06-16 16:58] 0crat commented on #95
@victornoel Job refused in 8 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-16 16:58] 0crat commented on #95
@victornoel There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): CID: [7a8c53e6-bc5f-4dd2-8312-4a32c392cfd9](https://www.0crat.com/footprint/CT2E6TK9B/7a8c53e6-bc5f-4dd2-8312-4a32c392cfd9), Type: "Order was canceled"

[2020-06-16 16:58] 0crat commented on #90
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#90](https://github.com/artipie/http/issues/90), please stop working. Reason for job resignation: Order was cancelled

[2020-06-16 16:58] 0crat commented on #90
@victornoel Job refused in 7 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-16 16:59] 0crat commented on #68
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#68](https://github.com/artipie/http/issues/68), please stop working. Reason for job resignation: Order was cancelled

[2020-06-16 16:59] 0crat commented on #68
@victornoel Job refused in 6 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-16 20:02] 0crat commented on #95
The job [#95](https://github.com/artipie/http/issues/95) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/c9697ba1-979a-4962-be9b-2649347da6e1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-06-16 20:46] 0crat commented on #90
The job [#90](https://github.com/artipie/http/issues/90) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/564a0e9c-2e58-4fa7-abd6-8b04e54e1097); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-06-16 21:47] 0crat commented on #68
The job [#68](https://github.com/artipie/http/issues/68) assigned to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/f0016cdd-b3f9-4e93-8e8b-7a98ffdc21d4); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9

[2020-06-17 15:48] 0crat commented on #169
The job [#169](https://github.com/artipie/http/issues/169) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/eac8705e-7c99-42d8-b9e7-d42997cf29c0); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-06-17 19:06] paulodamaso commented on #70
@0crat refuse

[2020-06-17 19:06] paulodamaso commented on #69
@0crat refuse

[2020-06-17 19:07] 0crat commented on #70
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#70](https://github.com/artipie/http/issues/70), please stop working. Reason for job resignation: Order was cancelled

[2020-06-17 19:07] paulodamaso commented on #90
@0crat refuse

[2020-06-17 19:07] 0crat commented on #69
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#69](https://github.com/artipie/http/issues/69), please stop working. Reason for job resignation: Order was cancelled

[2020-06-17 19:08] paulodamaso commented on #68
@0crat refuse

[2020-06-17 19:08] 0crat commented on #90
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#90](https://github.com/artipie/http/issues/90), please stop working. Reason for job resignation: Order was cancelled

[2020-06-17 19:09] 0crat commented on #90
@paulodamaso Job refused in 22 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-17 19:09] 0crat commented on #68
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#68](https://github.com/artipie/http/issues/68), please stop working. Reason for job resignation: Order was cancelled

[2020-06-17 19:09] 0crat commented on #68
@paulodamaso Job refused in 21 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-17 19:45] 0crat commented on #70
The job [#70](https://github.com/artipie/http/issues/70) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/36706070-297f-4564-b0ae-379b9e7ba743); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-17 20:54] victornoel commented on #70
@0crat refuse

[2020-06-17 21:34] 0crat commented on #70
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#70](https://github.com/artipie/http/issues/70), please stop working. Reason for job resignation: Order was cancelled

[2020-06-17 21:34] 0crat commented on #70
@victornoel Job refused in 1 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-17 21:49] 0crat commented on #69
The job [#69](https://github.com/artipie/http/issues/69) assigned to @victornoel[/z](https://www.0crat.com/u/victornoel), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/8be555fc-b0f4-461f-b1e7-3fe66edc9638); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9);

[2020-06-18 04:56] victornoel commented on #69
@0crat refuse

[2020-06-18 05:18] 0crat commented on #69
@victornoel The user @victornoel[/z](https://www.0crat.com/u/victornoel) resigned from [#69](https://github.com/artipie/http/issues/69), please stop working. Reason for job resignation: Order was cancelled

[2020-06-18 05:18] 0crat commented on #69
@victornoel Job refused in 7 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-19 11:56] #174 closed

[2020-06-19 12:14] 0crat commented on #174
Job `gh:artipie/http#174` is not assigned, can't get performer

[2020-06-19 12:58] olegmoz commented on #174
@rultor release, tag=`0.10.1`

[2020-06-19 12:59] rultor commented on #174
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22398-646621533)

[2020-06-19 13:15] rultor commented on #174
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22398-646621533) (spent 16min)

[code]

[2020-06-22 07:26] olenagerasimova commented on #174
@rultor release, tag=`0.10.1`

[2020-06-22 07:27] rultor commented on #174
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22398-647337864)

[2020-06-22 07:37] rultor commented on #174
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22398-647337864) (took me 9min)

[2020-06-22 12:10] g4s8 commented on #169
@brastak done in #180

[2020-06-22 12:10] #169 closed

[2020-06-22 18:47] 0crat commented on #90
The job [#90](https://github.com/artipie/http/issues/90) assigned to @iakunin[/z](https://www.0crat.com/u/iakunin), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/05c780b6-9273-423f-93ef-19a0d4905079); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if th

[2020-06-25 12:09] g4s8 commented on #176
Done in #177

[2020-06-25 12:10] #176 closed

[2020-06-25 12:15] g4s8 commented on #169
@rultor release, tag=`0.11`

[2020-06-25 12:16] rultor commented on #169
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22425-649504444)

[2020-06-25 12:26] rultor commented on #169
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22425-649504444) (took me 9min)

[2020-06-27 19:44] 0crat commented on #90
@iakunin[/z](https://www.0crat.com/u/iakunin) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-06-28 17:12] iakunin commented on #90
@0crat wait for https://github.com/artipie/http/issues/95 to be completed, cause it requires [here](https://github.com/artipie/http/blob/ee5085b91259110d16b23970958f5c603b9a52c2/src/main/java/com/artipie/http/rq/Multipart.java#L103).

[2020-06-28 17:58] iakunin commented on #90
@0crat status

[2020-06-28 17:59] 0crat commented on #90
@iakunin This is what I know about this job in CT2E6TK9B, as in [§32](http://www.zerocracy.com/policy.html#32):

  * The job [#90](https://github.com/artipie/http/issues/90) is [in scope](http://www.zerocracy.com/policy.html#14) for 24days
  * The role is `DEV`
  * The job is assigned to @iakunin[/z](https://www.0crat.com/u/iakunin) for [6days](http://www.zerocracy.com/policy.html#8)
  * @iakunin[

[2020-06-29 06:50] 0crat commented on #68
The job [#68](https://github.com/artipie/http/issues/68) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/3e4c3661-708e-4ebf-9aa5-b2503904ea80); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-06-29 10:10] g4s8 opened #183 "Improve CI checks"
Move all required checks to single workflow file, similar to docker-adapter. Add https://github.com/yegor256/aibolit/ as experimental workflow.

[2020-06-29 20:36] marceloamadeu commented on #68
@0crat refuse

[2020-06-29 20:48] 0crat commented on #68
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#68](https://github.com/artipie/http/issues/68), please stop working. Reason for job resignation: Order was cancelled

[2020-06-29 20:48] 0crat commented on #68
@marceloamadeu Job refused in 14 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-29 21:48] 0crat commented on #70
The job [#70](https://github.com/artipie/http/issues/70) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/1467fd19-8de5-45a4-928d-f6d4e01345d6); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-06-30 10:25] olegmoz opened #185 "Support for `WWW-Authenticate` header"
`WWW-Authenticate` header is sent by adapters requiring authentication. Also it is required to handle authentication requests by other HTTP servers for proxy type repositories

[2020-06-30 10:25] 0crat commented on #185
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-06-30 12:00] 0crat commented on #185
The job [#185](https://github.com/artipie/http/issues/185) assigned to @olegmoz[/z](https://www.0crat.com/u/olegmoz), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/92df8ac7-4d23-4370-8790-0021dfbef0c1); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if

[2020-06-30 14:29] marceloamadeu commented on #70
@0crat refuse

[2020-06-30 14:48] 0crat commented on #70
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#70](https://github.com/artipie/http/issues/70), please stop working. Reason for job resignation: Order was cancelled

[2020-06-30 14:48] 0crat commented on #70
@marceloamadeu Job refused in 17 hours - no penalty, see [§6](http://www.zerocracy.com/policy.html#6)

[2020-06-30 15:48] 0crat commented on #69
The job [#69](https://github.com/artipie/http/issues/69) assigned to @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/591b3057-a6c5-4a58-bd1f-cdc212c032be); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.ht

[2020-07-02 09:03] olegmoz opened #187 "Default HTTP version in `RequestLine`"
`RequestLine` requires HTTP version as one of it's constructor parameters. It's very rare to have version other then `HTTP/1.1`, yet it has to specified every time.

[2020-07-02 09:03] 0crat commented on #187
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-02 09:48] olegmoz opened #189 "Joining headers sets"
There is no convenient way to join two header sets or add single header to existing headers set. This operation is quite common when implementing authentication, as authentication header(s) required to be added to existing request or response.

[2020-07-02 09:48] 0crat commented on #189
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-02 11:18] olegmoz opened #191 "Support for `Authorization` header"
`Authorization` header is handled by adapters requiring authentication. Also it is required to handle authentication requests by other HTTP servers for proxy type repositories. Not it is supported only for Basic auth, it should be generalized and supported for Bearer authentication as well

[2020-07-02 11:19] 0crat commented on #191
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-03 08:49] #187 closed

[2020-07-03 09:06] 0crat commented on #187
Job `gh:artipie/http#187` is not assigned, can't get performer

[2020-07-03 11:20] olegmoz commented on #187
@rultor release, tag=`0.12`

[2020-07-03 11:22] rultor commented on #187
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22494-653497867)

[2020-07-03 11:44] rultor commented on #187
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22494-653497867) (took me 22min)

[2020-07-03 12:48] #191 closed

[2020-07-03 12:48] 0pdd opened #194 "Authorization.java:34-37: Extract header value parsing..."
The puzzle `191-868754ef` from #191 has to be resolved:

https://github.com/artipie/http/blob/eec2ba77a2ccc115df8014f7c0b44bfacf4614b9/src/main/java/com/artipie/http/headers/Authorization.java#L34-L37

The puzzle was created by @olegmoz on 02-Jul-20.

Estimate: 60 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-07-03 12:48] 0pdd commented on #191
@olegmoz the puzzle [#194](https://github.com/artipie/http/issues/194) is still not solved.

[2020-07-03 12:52] 0crat commented on #194
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-03 13:06] 0crat commented on #191
Job `gh:artipie/http#191` is not assigned, can't get performer

[2020-07-03 13:31] marceloamadeu commented on #69
@0crat refuse

[2020-07-03 13:32] 0crat commented on #69
@marceloamadeu The user @marceloamadeu[/z](https://www.0crat.com/u/marceloamadeu) resigned from [#69](https://github.com/artipie/http/issues/69), please stop working. Reason for job resignation: Order was cancelled

[2020-07-05 12:48] 0crat commented on #185
@olegmoz[/z](https://www.0crat.com/u/olegmoz) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2020-07-06 10:47] #185 closed

[2020-07-06 11:00] olegmoz commented on #185
@rultor release, tag=`0.13`

[2020-07-06 11:01] rultor commented on #185
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22505-654164443)

[2020-07-06 11:04] 0crat commented on #185
Job [#185](https://github.com/artipie/http/issues/185) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-07-06 11:05] 0crat commented on #185
Job [#185](https://github.com/artipie/http/issues/185) is not in the agenda of @olegmoz[/z](https://www.0crat.com/u/olegmoz), can't set title

[2020-07-06 11:05] 0crat commented on #185
@sereshqua[/z](https://www.0crat.com/u/sereshqua) please review this job completed by @olegmoz[/z](https://www.0crat.com/u/olegmoz), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2020-07-06 11:19] rultor commented on #185
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22505-654164443) (took me 18min)

[2020-07-08 12:32] olegmoz opened #196 "Status code classification in `RsStatus`"
[RFC](https://tools.ietf.org/html/rfc7231) breaks down codes into categories by first digit. It would be useful to have these categories in `RsStatus`. For example we may have methods like `bool clientError()` for 4xx, `bool serverError()` for 5xx and `bool error() { return clientError() || serverError(); }`.

Originated in https://github.com/artipie/artipie/pull/283#discussion_r451498806

[2020-07-08 12:32] 0crat commented on #196
@g4s8[/z](https://www.0crat.com/u/g4s8), @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) please, pay attention to this issue

[2020-07-08 13:13] g4s8 commented on #196
@olegmoz sounds reasonable

[2020-07-09 10:10] g4s8 opened #197 "TrimPathSlice may remove path twice in case of group repositories"
Let's check for `X-FullPath` and ignore such requests which were already trimmed.

[2020-07-09 10:11] 0crat commented on #197
The job [#197](https://github.com/artipie/http/issues/197) assigned to @g4s8[/z](https://www.0crat.com/u/g4s8), here is [why](https://www.0crat.com/footprint/CT2E6TK9B/832d36d9-cf08-4f0f-b400-bc989b8b4c50); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the ta

[2020-07-09 10:13] g4s8 commented on #197
@rultor release, tag=`0.14`

[2020-07-09 10:14] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22548-656039905)

[2020-07-09 10:23] rultor commented on #197
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22548-656039905) (took me 9min)

[2020-07-09 11:35] g4s8 commented on #197
@rultor release, tag=`0.14.1`

[2020-07-09 11:37] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22548-656075820)

[2020-07-09 11:47] rultor commented on #197
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22548-656075820) (took me 9min)

[2020-07-09 14:22] g4s8 commented on #197
@rultor release, tag=`0.14.2`

[2020-07-09 14:24] rultor commented on #197
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22548-656157859)

[2020-07-09 14:37] rultor commented on #197
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22548-656157859) (took me 13min)

[2020-07-10 09:56] g4s8 commented on #197
Fixed

[2020-07-10 09:56] #197 closed

[2020-07-15 13:38] #189 closed

[2020-07-15 13:40] olegmoz opened #198 "Single user `Authentication`"
`Authentication` implementation that contains single user with password is often needed in tests when implementing authentication support in adapters

[2020-07-15 13:49] olegmoz opened #200 "Single user `Permissions`"
`Permissions` implementation that allows single action for single user is often needed in tests when implementing authentication support in adapters

[2020-07-15 13:55] 0crat commented on #189
Job `gh:artipie/http#189` is not assigned, can't get performer

[2020-07-16 07:39] #198 closed

[2020-07-16 08:00] 0crat commented on #198
Job `gh:artipie/http#198` is not assigned, can't get performer

[2020-07-16 12:46] #200 closed

[2020-07-16 13:03] 0crat commented on #200
Job `gh:artipie/http#200` is not assigned, can't get performer

[2020-07-17 07:46] olegmoz commented on #200
@rultor release, tag=`0.15`

[2020-07-17 07:47] rultor commented on #200
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22620-659934190)

[2020-07-17 07:57] rultor commented on #200
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22620-659934190) (took me 9min)

[2020-07-20 06:00] olenagerasimova opened #202 "Prefix from X-FullPath header and request line"
Let's introduce class to obtain path prefix from `X-FullPath` header and request. This prefix can be used to combine full path with storage keys by request line.
Example: if `X-FullPath` is `/one/two/three/` and request line is `/three` then prefix is `/one/two`.

[2020-07-20 13:11] g4s8 opened #203 "GroupSlice: Wrong order of result"
GroupSlice may fail with error:
[code]

[2020-07-20 13:18] g4s8 commented on #203
@rultor release, tag=`0.15.1`

[2020-07-20 13:20] rultor commented on #203
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22660-661034251)

[2020-07-20 14:05] rultor commented on #203
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22660-661034251) (took me 45min)

[2020-07-20 15:35] g4s8 commented on #183
Done in #184

[2020-07-20 15:35] #183 closed

[2020-07-22 10:48] g4s8 commented on #203
@rultor release, tag=`0.15.2`

[2020-07-22 10:50] rultor commented on #203
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22660-662384536)

[2020-07-22 10:59] rultor commented on #203
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22660-662384536) (took me 9min)

[2020-07-22 13:05] g4s8 commented on #203
Done

[2020-07-22 13:05] #203 closed

[2020-07-22 13:17] g4s8 commented on #170
@Sammers21 please close this ticket if the problem was solved.

[2020-07-22 13:18] g4s8 commented on #163
Fixed

[2020-07-22 13:18] #163 closed

[2020-07-22 13:23] 0crat commented on #203
Job was finished in 47 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-07-22 14:28] #170 closed

[2020-07-22 14:58] 0crat commented on #170
Job `gh:artipie/http#170` is not assigned, can't get performer

[2020-07-30 08:28] g4s8 opened #206 "HTTP groupped slice should broadcast only read requests"
`GroupSlice` should send `PUT`, `POST`, `PATCH` and `DELETE` requests only to first `Slice` target, not for all `Slices`. Only `GET`, `HEAD`, `OPTIONS`, `TRACE` and `CONNECT` should be sent as broadcast requests.

[2020-07-30 11:07] olenagerasimova commented on #202
@g4s8 what do you think? I can use this class at least in python-adapter

[2020-07-30 11:11] olenagerasimova opened #208 "Class to obtain resource"
I'd suggest to introduce class to obtain resource from `getContextClassLoader` in `com.artipie.http.hm` as almost every adapter uses some test resources in tests.

[2020-07-30 11:11] olenagerasimova commented on #208
@g4s8 what do you say?

[2020-07-30 12:31] olenagerasimova commented on #202
@0crat assign me

[2020-08-04 08:39] g4s8 opened #210 "Common response wrappers"
Let's add common response wrappers to simplify it:
 - [x] response for `javax.json.JsonStructure`
 - [x] response to send `String` or `CharSequence`
 - [ ] more?

[2020-08-04 14:38] g4s8 opened #212 "Content-Disposition for download slice"
Let's add a `Content-Disposition` header with `attachment` and `filename` values to standard `DownloadSlice` responses to simplify downloading of artifacts via browser, e.g.: `Content-Disposition: attachment; filename="filename.jpg"` for artifact at `/repo/path/filename.jpg`, it'll show "Save as" browser dialog with selected `filename.jpg` file name to download.
See: https://developer.mozilla.org/

[2020-08-04 15:02] #202 closed

[2020-08-05 04:35] olenagerasimova commented on #202
@rultor release, tag=`0.15.4`

[2020-08-05 04:36] rultor commented on #202
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22804-668974580)

[2020-08-05 04:36] olenagerasimova commented on #208
We'll do in `asto`

[2020-08-05 04:36] #208 closed

[2020-08-05 04:54] 0crat commented on #208
Job `gh:artipie/http#208` is not assigned, can't get performer

[2020-08-05 05:03] rultor commented on #202
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/22804-668974580) (took me 26min)

[2020-08-06 09:41] olegmoz opened #214 "Better headers types in `RsHasHeaders` and `ResponseMatcher`"
`RsHasHeaders` accepts only `Collection` of headers in constructor and does not accept `Iterable` - it does not make it compatible with `Headers` interfaces which is widely used.
`ResponseMatcher` does not has constructors supporting headers as `Iterable`, only arrays are accepted. This again makes it unusable in some cases

[2020-08-06 14:51] #214 closed

[2020-08-06 14:52] olegmoz commented on #214
@rultor release, tag=`0.15.5`

[2020-08-06 14:53] rultor commented on #214
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22842-669977140)

[2020-08-06 15:08] 0crat commented on #214
Job `gh:artipie/http#214` is not assigned, can't get performer

[2020-08-06 15:08] rultor commented on #214
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/22842-669977140) (took me 15min)

[2020-08-07 13:48] paulodamaso commented on #95
@0crat refuse

[2020-08-07 13:50] 0crat commented on #95
@paulodamaso The user @paulodamaso[/z](https://www.0crat.com/u/paulodamaso) resigned from [#95](https://github.com/artipie/http/issues/95), please stop working. Reason for job resignation: Order was cancelled

[2020-08-07 13:50] 0crat commented on #95
@paulodamaso There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.54.5](https://github.com/zerocracy/farm): CID: [3edc5bbf-ff56-4841-bbf7-e2fd8d63dc0d](https://www.0crat.com/footprint/CT2E6TK9B/3edc5bbf-ff56-4841-bbf7-e2fd8d63dc0d), Type: "Order was canceled"

[2020-08-13 09:29] g4s8 commented on #196
@rultor release, tag=`0.15.6`

[2020-08-13 09:32] rultor commented on #196
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22927-673371103)

[2020-08-13 09:47] rultor commented on #196
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/22927-673371103) (took me 14min)

[2020-08-13 10:08] 0pdd opened #218 "SliceDelete.java:38-41: Implement SliceDelete Implement..."
The puzzle `138-96915975` from #138 has to be resolved:

https://github.com/artipie/http/blob/6bd649be9b5244ee8ff94dbbe3c70a99dea09610/src/main/java/com/artipie/http/slice/SliceDelete.java#L38-L41

The puzzle was created by paulodamaso on 12-Jun-20.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2020-08-13 11:27] g4s8 opened #220 "Simplified RtRule constructs"
Add secondary constructors for `RtRule` objects to simplify routing constructions.

[2020-08-14 12:45] 0pdd commented on #218
The puzzle `138-96915975` has disappeared from the source code, that's why I closed this issue.

[2020-08-14 12:45] #218 closed

[2020-08-14 13:05] 0crat commented on #218
Job was finished in 26 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2020-08-18 09:17] olegmoz opened #222 "Authentication composition"
Multiple `Authentication` instances might be joined into single `Authentication` that delegates to others. In production it might be composition of different authentication methods. It is also useful in tests to join several `Authentication.Single` instances to have `Authentication` allowing more then one user

[2020-08-18 09:18] 0crat commented on #222
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-08-18 12:01] #222 closed

[2020-08-18 12:19] 0crat commented on #222
Job `gh:artipie/http#222` is not assigned, can't get performer

[2020-08-18 12:57] olegmoz commented on #222
@rultor release, tag=`0.15.7`

[2020-08-18 12:59] rultor commented on #222
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23026-675462398)

[2020-08-18 13:10] rultor commented on #222
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23026-675462398) (took me 10min)

[2020-08-18 14:10] #220 closed

[2020-08-18 14:28] 0crat commented on #220
Job `gh:artipie/http#220` is not assigned, can't get performer

[2020-09-04 10:14] g4s8 commented on #158
Changes from https://github.com/artipie/artipie/pull/548 PR can be used for keys formatting

[2020-09-09 08:13] #196 closed

[2020-09-09 08:30] 0crat commented on #196
Job `gh:artipie/http#196` is not assigned, can't get performer

[2020-09-10 08:19] olegmoz commented on #38
The issue is resolved: we have got `RqMethod` and `RsStatus` classes with constants from RFC

[2020-09-10 08:19] #38 closed

[2020-09-10 08:21] olegmoz commented on #137
`BasicIdentities` is a public class now, the issue is resolved

[2020-09-10 08:21] #137 closed

[2020-09-10 08:30] olegmoz opened #236 "Keep dependencies up-to-date"
The module has multiple dependencies, they need to be kept up-to-date

[2020-09-10 09:00] 0crat commented on #38
Job `gh:artipie/http#38` is not assigned, can't get performer

[2020-09-10 09:01] 0crat commented on #137
Job `gh:artipie/http#137` is not assigned, can't get performer

[2020-09-10 10:06] olegmoz commented on #236
@rultor release, tag=`0.15.8`

[2020-09-10 10:08] rultor commented on #236
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23285-690130158)

[2020-09-10 10:14] rultor commented on #236
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23285-690130158) (spent 5min)

[code]

[2020-09-10 12:05] olegmoz commented on #236
@rultor release, tag=`0.15.8`

[2020-09-10 12:05] rultor commented on #236
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23285-690225805)

[2020-09-10 12:11] rultor commented on #236
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23285-690225805) (spent 5min)

[code]

[2020-09-10 12:18] olegmoz commented on #236
@rultor release, tag=`0.15.8`

[2020-09-10 12:19] rultor commented on #236
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23285-690240233)

[2020-09-10 12:31] rultor commented on #236
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23285-690240233) (took me 12min)

[2020-09-14 18:43] olenagerasimova opened #238 "Create interface for permission action"
Part of https://github.com/artipie/artipie/issues/574:
1. Create interface for permission action and synonyms, implementations for permissions `READ` and `WRITE`, create class to obtain this interface instance by any string synonym
2. Change `Permission.ByName` string action field to interface and add new ctor, use a set of synonyms to call `Permissions#allowed` with from the `Permission.ByName#al

[2020-09-15 13:25] #238 closed

[2020-09-15 13:57] 0crat commented on #238
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-09-16 09:05] olenagerasimova opened #241 "User groups"
Part of https://github.com/artipie/artipie/issues/573

We need to create `User` class with `username` and `groups` and change `Authentication#user` signature to return optional of this new `User` class.

[2020-09-16 10:29] #241 closed

[2020-09-16 10:42] olenagerasimova commented on #241
@rultor release, tag=`0.11`

[2020-09-16 10:44] rultor commented on #241
@olenagerasimova Invalid release tag `0.11` specified. There is already a release `0.15.8` newer than the given release in this repository.

[2020-09-16 10:44] rultor commented on #241
@olenagerasimova I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-09-16 10:52] olenagerasimova commented on #241
@rultor release, tag=`0.16`

[2020-09-16 10:53] rultor commented on #241
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23330-693328711)

[2020-09-16 10:58] 0crat commented on #241
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-09-16 11:14] rultor commented on #241
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23330-693328711) (spent 21min)

[code]

[2020-09-17 07:31] olenagerasimova commented on #241
@rultor release, tag=`0.16`

[2020-09-17 07:33] rultor commented on #241
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23330-694038365)

[2020-09-17 07:42] rultor commented on #241
@olenagerasimova Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23330-694038365) (spent 9min)

[code]

[2020-09-17 07:50] olenagerasimova commented on #241
@rultor release, tag=`0.16.1`

[2020-09-17 07:52] rultor commented on #241
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23330-694059065)

[2020-09-17 08:00] rultor commented on #241
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23330-694059065) (took me 8min)

[2020-09-21 00:34] 0crat commented on #238
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#238](https://github.com/artipie/http/issues/238), since the job is not in scope anymore

[2020-09-22 07:09] olenagerasimova opened #243 "Add 421 and 429 http response statuses"
Let's add `421 Misdirected Request` and `429 Too Many Requests` response status to our enum.

[2020-09-25 10:39] olenagerasimova opened #244 "Change auth interfaces signature"
Change signature of `Identities`, `Permission` and `Permissions` interfaces to work with `Authentication.User` class interad of just user name.

[2020-09-25 14:21] #244 closed

[2020-09-25 14:49] 0crat commented on #244
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-09-25 14:49] olenagerasimova commented on #244
@rultor release, tag=`0.16.2`

[2020-09-25 14:50] rultor commented on #244
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23407-698973946)

[2020-09-25 15:00] rultor commented on #244
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23407-698973946) (took me 9min)

[2020-09-29 08:20] olenagerasimova opened #246 "Override `toString` method properly in `Authentication.User`"
Let's properly override `toString` method properly in `Authentication.User` so user can print itself.

[2020-10-02 01:08] 0crat commented on #244
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#244](https://github.com/artipie/http/issues/244), since the job is not in scope anymore

[2020-10-02 12:43] olenagerasimova opened #247 "Creare `BasicAuthSlice`"
Let's create `BasicAuthSlice` to john `SliceAuth` and `BasicIdentities` functionality and deprecate `SliceAuth`, `Identities` and `BasicIdentities`.

[2020-10-05 10:15] #247 closed

[2020-10-05 10:34] 0crat commented on #247
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-11 00:32] 0crat commented on #247
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#247](https://github.com/artipie/http/issues/247), since the job is not in scope anymore

[2020-10-12 08:17] olenagerasimova commented on #247
@rultor release, tag=`0.16.3`

[2020-10-12 08:17] rultor commented on #247
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23520-706960309)

[2020-10-12 12:37] olenagerasimova opened #249 "Create Authentication.Anonymous"
Let's create `Authentication.Anonymous` implementation to use when auth is not required.

[2020-10-12 14:17] #249 closed

[2020-10-12 14:59] 0crat commented on #249
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-12 15:09] olenagerasimova commented on #249
@rultor release, tag=`0.16.4`

[2020-10-12 15:10] rultor commented on #249
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23524-707178052)

[2020-10-12 15:21] rultor commented on #249
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23524-707178052) (took me 10min)

[2020-10-14 06:58] olegmoz opened #251 "StatefulResponse finishes send before body is read"
`StatefulResponse` returns completed future from it's `send()` method before it reads body. By contract body publisher not guaranteed to be readable after send is finished, because sending reply may wish to dispose allocated resources. `StatefulResponse` should be fixed to be compatible with all responses, including responses producing one-time content publishers such as HTTP client responses.

[2020-10-14 06:59] 0crat commented on #251
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-14 09:01] #251 closed

[2020-10-14 09:01] olegmoz commented on #251
@rultor release, tag=`0.16.5`

[2020-10-14 09:02] rultor commented on #251
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23530-708264872)

[2020-10-14 09:10] rultor commented on #251
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23530-708264872) (took me 8min)

[2020-10-14 09:19] 0crat commented on #251
Job `gh:artipie/http#251` is not assigned, can't get performer

[2020-10-18 00:57] 0crat commented on #249
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) resigned from [#249](https://github.com/artipie/http/issues/249), since the job is not in scope anymore

[2020-10-19 11:32] olenagerasimova opened #253 "Create RtRule.ByHeader implementation"
In pypi-adapter `RtRule` by header is required, so let's create such implementation. Implementation should filter requests by header name and value, it should be possible to filter values by regexps.

[2020-10-19 13:30] 0crat commented on #253
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-20 07:50] #253 closed

[2020-10-20 07:58] olenagerasimova commented on #253
@rultor release, tag=`16.6`

[2020-10-20 07:59] olenagerasimova commented on #253
@rultor release, tag=`0.16.6`

[2020-10-20 07:59] rultor commented on #253
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23570-712669382)

[2020-10-20 08:07] 0crat commented on #253
@olegmoz[/z](https://www.0crat.com/u/olegmoz) the issue is closed not by @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) (its creator); I won't close the order; please, re-open it and ask @olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) to close it

[2020-10-20 08:10] rultor commented on #253
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23570-712669382) (took me 10min)

[2020-10-21 07:04] olegmoz opened #256 "Handling errors in GroupSlice"
`GroupSlice` does not send response when origin `Slice` fails to send response. This causes `GroupSlice` requests to never complete

[2020-10-21 07:06] 0crat commented on #256
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-10-21 10:11] #256 closed

[2020-10-21 10:12] olegmoz commented on #256
@rultor release, tag=`0.16.7`

[2020-10-21 10:13] rultor commented on #256
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23575-713463060)

[2020-10-21 10:22] rultor commented on #256
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23575-713463060) (took me 9min)

[2020-10-21 10:33] 0crat commented on #256
Job `gh:artipie/http#256` is not assigned, can't get performer

[2020-11-02 15:08] olegmoz opened #258 "Permission that requires other permissions"
It would be nice to have `Permission` implementation that joins multiple other `Permission` instances and allows action only when all other `Permission` instances allow the action

[2020-11-02 15:09] 0crat commented on #258
You @olegmoz[/z](https://www.0crat.com/u/olegmoz) need to have one of these roles in order to do "Request order start": `ARC`, `PO`; I'm sorry to say this, but at the moment you've got no roles in this project

[2020-11-02 17:20] #258 closed

[2020-11-02 17:20] olegmoz commented on #258
@rultor release, tag=`0.16.8`

[2020-11-02 17:21] rultor commented on #258
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23625-720609900)

[2020-11-02 17:32] rultor commented on #258
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23625-720609900) (took me 10min)

[2020-11-02 18:02] 0crat commented on #258
Job `gh:artipie/http#258` is not assigned, can't get performer

[2020-11-13 08:56] olenagerasimova opened #260 "Move RsJson from artipie"
Let's move `RsJson` from artipie to http, this class is used all over artipie and can be useful in adapters.

[2020-11-13 08:56] olenagerasimova commented on #260
alrady done

[2020-11-13 08:56] #260 closed

[2020-11-13 09:04] 0crat commented on #260
Job [#260](https://github.com/artipie/http/issues/260) is closed, can't start order

[2020-11-13 09:14] 0crat commented on #260
Job `gh:artipie/http#260` is not assigned, can't get performer

[2020-11-20 12:48] olegmoz opened #261 "Minimal support for Bearer authentication"
Add Bearer authentication support. The module should provide `Slice` implementation that may wrap another `Slice` and add bearer authentication functionality for it. Bearer authentication is described in RFC: https://tools.ietf.org/html/rfc6750

[2020-11-24 17:49] genryxy opened #263 "`BasicAuthSlice` should return forbidden when permissions prohibit"
`BasicAuthSlice` should return `FORBIDDEN` when permissions prohibit. Not it returns `OK` when Basic authorization header is correct but permission forbid.

[2020-11-26 09:26] genryxy commented on #263
`BasicAuthSlice` returns `OK` when permissions prohibit but each user is allowed to perform all actions from yaml settings file. So, the current behavior is correct therefore close this issue.

[2020-11-26 09:26] #263 closed

[2020-11-26 12:47] olenagerasimova opened #268 "Create Permissions.Any implementation"
Managemnt-api requires permission decorator that allows action when at least one of origin permissions allow the action for a specified user.

[2020-11-26 13:51] #268 closed

[2020-11-26 14:58] olenagerasimova commented on #268
@rultor release, tag=`0.16.10`

[2020-11-26 14:59] rultor commented on #268
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23756-734344181)

[2020-11-26 15:12] rultor commented on #268
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23756-734344181) (took me 13min)

[2020-11-27 09:40] #194 closed

[2020-11-27 09:41] olegmoz commented on #261
@rultor release, tag=`0.17`

[2020-11-27 09:42] rultor commented on #261
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23762-734743400)

[2020-11-27 09:58] rultor commented on #261
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23762-734743400) (took me 15min)

[2020-11-27 13:50] olegmoz opened #273 "JoinedPermissions for composing multiple Permissions"
Sometimes there are two sources of permissions, for example two instances of  `Permissions.Single` in tests or two `Permissions` read from two YAML configs. These could be combined to single `Permissions` instance using `JoinedPermissions`

[2020-11-30 07:50] #273 closed

[2020-11-30 08:19] olegmoz commented on #273
@rultor release, tag=`0.17.2`

[2020-11-30 08:21] rultor commented on #273
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23779-735631486)

[2020-11-30 08:34] rultor commented on #273
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23779-735631486) (took me 13min)

[2020-11-30 13:48] olegmoz opened #275 "RsWithBody and RsFull lack constructor for Content"
`RsWithBody` lacks constructor with just `Content` provided. This causes code like `new RsWithBody(new Content(...))` code to invoke constructor `RsWithBody(Publisher)` and loose size of content on the way. Same problem presents in `RsFull` as it's constructor accepts `Publisher` only.

[2020-11-30 14:47] olegmoz opened #276 "HTTP parameters parsing"
To handle HTTP requests it is often needed to parse query parameters from request URI. At the moment HTTP module does not provide a class for handling query parameters.

[2020-11-30 15:52] #276 closed

[2020-11-30 15:52] olegmoz commented on #276
@rultor release, tag=`0.17.3`

[2020-11-30 15:54] rultor commented on #276
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23784-735871677)

[2020-11-30 16:07] rultor commented on #276
@olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/23784-735871677) (spent 13min)

[code]

[2020-11-30 18:18] olegmoz commented on #276
@rultor release, tag=`0.17.4`

[2020-11-30 18:21] rultor commented on #276
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23784-735956600)

[2020-11-30 18:35] rultor commented on #276
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23784-735956600) (took me 13min)

[2020-12-08 14:31] olenagerasimova opened #278 "AuthScheme implementation for tests"
Let's add implementation of `AuthScheme` for test purposes, implementation should accept user and challenge in ctor.

[2020-12-08 17:08] #278 closed

[2020-12-08 17:08] 0pdd commented on #191
@olegmoz the only puzzle [#194](https://github.com/artipie/http/issues/194) is solved here.

[2020-12-08 19:17] olenagerasimova commented on #278
@rultor release, tag=`0.17.5`

[2020-12-08 19:18] rultor commented on #278
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23843-740884300)

[2020-12-08 19:30] rultor commented on #278
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/23843-740884300) (took me 12min)

[2020-12-25 10:14] #275 closed

[2020-12-25 10:15] olegmoz commented on #275
@rultor release, tag=`0.17.6`

[2020-12-25 10:16] rultor commented on #275
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/23906-751226805)

[2020-12-25 10:27] rultor commented on #275
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/23906-751226805) (took me 10min)

[2020-12-25 10:32] 0crat commented on #275
Job `gh:artipie/http#275` is not assigned, can't get performer

[2021-01-19 08:48] genryxy opened #283 "Add class for obtaining free port"
Let's introduce class `RandomFreePort` to get free port since this is required in many modules.

[2021-01-20 16:51] #283 closed

[2021-01-20 16:53] olegmoz commented on #283
@rultor release, tag=`0.17.7`

[2021-01-20 16:56] rultor commented on #283
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24005-763781902)

[2021-01-20 17:03] rultor commented on #283
@genryxy @olegmoz Oops, I failed. You can see the full log [here](https://www.rultor.com/t/24005-763781902) (spent 7min)

[code]

[2021-01-20 17:11] 0crat commented on #283
Job `gh:artipie/http#283` is not assigned, can't get performer

[2021-01-21 06:19] olegmoz commented on #283
@rultor release, tag=`0.17.7`

[2021-01-21 06:21] rultor commented on #283
@olegmoz OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24005-764409218)

[2021-01-21 06:52] rultor commented on #283
@olegmoz Done! FYI, the full log is [here](https://www.rultor.com/t/24005-764409218) (took me 30min)

[2021-01-21 19:00] EugeneLesnov opened #286 "Using the Conventional commits specification"
According to [Conventional commits summary](https://www.conventionalcommits.org/en/v1.0.0/) :+1:

The Conventional Commits specification is a lightweight convention on top of commit messages. It provides an easy set of rules for creating an explicit commit history; which makes it easier to write automated tools on top of.

[2021-01-22 10:30] #243 closed

[2021-02-04 12:28] #210 closed

[2021-02-04 12:31] #148 closed

[2021-02-04 13:09] 0crat commented on #148
The project doesn't have enough funds, can't make a payment

[2021-02-10 13:22] g4s8 commented on #212
@andreoss thanks

[2021-02-10 13:22] #212 closed

[2021-03-01 11:36] g4s8 opened #289 "Servlet wrappers for"
Let's create servlet wrappers to use `Slice` implementations in servlet-based web applications such as spring-mvc.

[2021-03-10 11:55] rultor commented on #289
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24259-795296984) (took me 10min)

[2021-03-25 11:36] #289 closed

[2021-04-19 08:47] g4s8 opened #293 "ContentWithSize uses incorrect HTTP header"
Helper class `ContentWithSize` which extracts the size from HTTP headers uses incorrect header `content-size` instead of `content-length`.

@artipie/contributors FYI

[2021-04-19 09:48] #293 closed

[2021-04-19 09:48] g4s8 commented on #293
@rultor release, tag=`0.18`

[2021-04-19 09:50] rultor commented on #293
@g4s8 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2021-04-19 11:59] g4s8 commented on #293
@rultor release, tag=`0.18.1`

[2021-04-19 12:00] rultor commented on #293
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24369-822411584)

[2021-04-19 12:11] rultor commented on #293
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24369-822411584) (took me 9min)

[2021-04-20 08:37] g4s8 opened #295 "Servlet slise wrapper doesn't parse URI query params"
The slice under servlet wrapper doesn't receive query params from URI.

[2021-04-20 10:07] #295 closed

[2021-04-20 10:16] g4s8 commented on #295
@rultor release, tag=`0.18.2`

[2021-04-20 10:17] rultor commented on #295
@g4s8 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24375-823158826)

[2021-04-20 10:29] rultor commented on #295
@g4s8 Done! FYI, the full log is [here](https://www.rultor.com/t/24375-823158826) (took me 11min)

[2021-04-23 12:58] olenagerasimova opened #297 "`Accept` header"
Let's add class to parse `Accept` header values according to documentation
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept

[2021-04-26 09:25] #297 closed

[2021-05-14 06:57] g4s8 opened #299 "Reactive multipart request"
Add reactive multipart request's wrapper. It should support [RFC1341-7.2](https://www.w3.org/Protocols/rfc1341/7_2_Multipart.html) request message format. The class should accept `Request` interface as constructor param and provide a method `Publisher<Request> parts()` with body parts of multipart request.

Impl. notes:
 - Since the multipart body is always received sequentially part by part, the

[2021-05-14 09:05] #32 closed

[2021-05-14 09:05] #90 closed

[2021-05-14 09:05] #95 closed

[2021-05-14 09:05] 0pdd commented on #95
The puzzle `32-9bb15c22` has disappeared from the source code, that's why I closed this issue.

[2021-05-14 09:06] 0pdd commented on #32
@Guseyn 3 puzzles [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70) are still not solved; solved: [#46](https://github.com/artipie/http/issues/46), [#47](https://github.com/artipie/http/issues/47), [#67](https://github.com/artipie/http/issues/67), [#88](https://github.com/artipie/http/issues/88), [#8

[2021-05-17 06:45] g4s8 opened #301 "Short license"
User short license version in files header

[2021-05-17 09:00] #301 closed

[2021-05-17 14:37] olenagerasimova opened #305 "`RsWithBody` duplicates content-length header"
`RsWithBody`should add content-length header if this header is absent, do not duplicate it.

[2021-05-19 07:32] g4s8 commented on #305
@olenagerasimova I'm suggesting adding secondary constructor to `RsWithHeaders`:
[code]
with `false` default value; this constructor will flag that header value needs to be replaced if already exist. And `RsWthiBody` can use this constructor with `true` flag to `content-length` replace.

Reasoning: since HTTP protocol allows to have multiple values for one header name (one-to-many relation for hea

[2021-05-19 07:45] g4s8 commented on #99
Closing, since table of content is generating automatically by GitHub now

[2021-05-19 07:45] #99 closed

[2021-05-21 07:06] 0pdd commented on #68
The puzzle `32-c93fa6a7` has disappeared from the source code, that's why I closed this issue.

[2021-05-21 07:06] #68 closed

[2021-05-21 07:06] #69 closed

[2021-05-21 07:06] 0pdd commented on #69
The puzzle `32-e9f722d0` has disappeared from the source code, that's why I closed this issue.

[2021-05-21 07:07] #70 closed

[2021-05-21 07:07] 0pdd commented on #70
The puzzle `32-9cb3a871` has disappeared from the source code, that's why I closed this issue.

[2021-05-21 07:07] 0pdd commented on #32
@Guseyn all 10 puzzles are solved here: [#46](https://github.com/artipie/http/issues/46), [#47](https://github.com/artipie/http/issues/47), [#67](https://github.com/artipie/http/issues/67), [#68](https://github.com/artipie/http/issues/68), [#69](https://github.com/artipie/http/issues/69), [#70](https://github.com/artipie/http/issues/70), [#88](https://github.com/artipie/http/issues/88), [#89](http

[2021-05-21 07:12] g4s8 commented on #236
Added dependabot config

[2021-05-21 07:12] #236 closed

[2021-05-24 14:16] #305 closed

[2021-05-27 06:57] olenagerasimova commented on #305
@rultor release, tag=`0.18.3`

[2021-05-27 06:58] rultor commented on #305
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24559-849382866)

[2021-05-27 07:08] rultor commented on #305
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24559-849382866) (took me 9min)

[2021-05-27 07:24] g4s8 opened #319 "Artipie HTTP exception"
Add HTTP Exception based on `ArtipieException`

[2021-05-28 07:13] #319 closed

[2021-05-28 07:50] olenagerasimova commented on #319
@rultor release, tag=`0.18.4`

[2021-05-28 07:51] rultor commented on #319
@olenagerasimova OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/24566-850224337)

[2021-05-28 08:00] rultor commented on #319
@olenagerasimova Done! FYI, the full log is [here](https://www.rultor.com/t/24566-850224337) (took me 9min)

[2021-06-04 06:28] g4s8 opened #324 "Response matchers"
Add more response matchers

[2021-06-10 14:13] 0pdd opened #334 "TokenizerFlatProc.java:143-145: Implement this..."
The puzzle `299-1938f333` from #299 has to be resolved:

https://github.com/artipie/http/blob/f58b1415ac1ea17e57ae3eadfb410e8e92b99d20/src/main/java/com/artipie/http/misc/TokenizerFlatProc.java#L143-L145

The puzzle was created by @g4s8 on 10-Jun-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2021-06-10 14:13] 0pdd commented on #299
@g4s8 the puzzle [#334](https://github.com/artipie/http/issues/334) is still not solved.

[2021-06-24 05:46] g4s8 commented on #286
@EugeneLesnov thanks, looks good, we'll try to enforce it via automation

[2021-07-08 10:19] g4s8 opened #344 "v0.19"
- ci: Update dependabot.yml
  - deps: Bump jetty-servlet from 10.0.0 to 10.0.6
  - deps: Bump vertx-web-client from 4.1.0 to 4.1.1 (#341)
  - deps: Bump slf4j-simple from 1.7.30 to 1.7.31 (#338)
  - deps: Bump asto from 1.2.0 to 1.2.1 (#337)
  - deps: Bump jetty-server from 10.0.1 to 10.0.5 (#335)
  - feature(multipart): Added reactive processor tokenizer
  - feature(multipart): Multipart request

[2021-07-08 10:32] g4s8 commented on #344
https://github.com/artipie/http/releases/tag/v0.19

[2021-07-15 08:00] g4s8 opened #346 "Response json matcher"
Move Json matcher from Docker and other repos to this project

[2021-07-15 08:02] #346 closed

[2021-07-23 10:48] #299 closed

[2021-08-16 10:58] olenagerasimova opened #356 "Artipie stacks on the second request"
When slice is introduced over `SliceRoute` and `RtRulePath` chain as `SliceSimple` with some response, for example
[code]
and served over `VertxSliceServer` on the second request response is never sent and connection stays open forever. Request should be performed from the local pc/docker container.

Check #355 for an example.

[2021-08-18 12:22] #356 closed

[2021-08-20 10:18] g4s8 opened #360 "Accept header with multiple content-types is not parsed correctly"
A client request from Docker client with accept header `application/vnd.oci.image.manifest.v1+json,application/vnd.docker.distribution.manifest.v2+json,application/vnd.docker.distribution.manifest.v1+json,application/vnd.docker.distribution.manifest.list.v2+json` is not parsed correctly into multiple mime-type values, it's parsed into single invalid mime-type.

Related issue: https://github.com/ar

[2021-08-23 06:54] #360 closed

[2021-08-23 07:23] g4s8 opened #362 "v0.20"
v0.20 ([tag](https://github.com/artipie/http/releases/tag/v0.20)|[release](https://github.com/artipie/http/releases/tag/v0.20))

 - fix: parse accept header correctly (#361)
 - deps: bump mime from 2.0.0 to v2.1 (#353)
 - fix: duplicate buffers of RsWithBody (#359)
 - test: added IT for slices (#355)
 - feat: finished multipart request implementation
 - deps: bump asto from v1.3.0 to v1.3.2 (#347)

[2021-08-23 07:23] #344 closed

[2021-08-24 16:20] olenagerasimova opened #363 "Move optional slice from Artipie here"
There is an `OptionalSlice` in artipie/artipie, let's move it here and do not forget about unit test.

[2021-08-30 10:46] g4s8 opened #367 "Add new method to take part of multiart request by headers"
Introduce additional method to `RqMultipart` to find some part of multipart and ignore other parts. Ignored parts should be read as well as valid parts.

[2021-08-31 05:04] #367 closed

[2021-09-09 07:33] olenagerasimova opened #371 "Token based authentication"
Anaconda repository uses token based authentication mechanism, so we need to support such authentication. Repository [uses](https://docs.anaconda.com/anacondaorg/user-guide/tasks/work-with-accounts/#cloud-accounts-tokens) random alphanumeric string with one year expire period.

[2021-09-09 07:42] olenagerasimova commented on #371
@g4s8 could you please take a look? Any ideas for general implementation? We need to store the tokens somewhere (in storage more likely) and choose an algorithm to generate tokens.

[2021-09-09 08:45] g4s8 commented on #371
@olenagerasimova I think we can change implementation of `com.artipie.http.auth.AuthScheme` which is accepting only request headers now to get authentication result. For Conda we should check request line too. So `AuthScheme` interface can accept not only headers but request line to get the user.

Then, we can implement `Authentication` interface for Conda which accepts only token and return user

[2021-09-09 09:44] olenagerasimova commented on #371
@g4s8 thanks, sounds logical. The only part I cannot get is about storing the tokens: documentation shows anaconda interface where users (and administrators) can manage tokens, but creating token manually (by user itself or administrator) is not required, anaconda can (and so should artipie) generate user token automatically.
We have access to `_credentials.yaml` only on artipie/artipie level now,

[2021-09-09 10:29] g4s8 commented on #371
@olenagerasimova it's not clear, where exactly a new token should be created? On what level and what operation

[2021-09-09 10:50] olenagerasimova commented on #371
@g4s8 token should be created on repository server (anaconda/artipie) side, here is some [doc](https://api.anaconda.org/docs#/authentication/post_authentications) (not very informative) and logs:
[code]

Request body (we just ignore it):
[code]

Response body:
[code]

This request is sent when `anaconda login` command is performed.

Also, about implementation: I think it would be better to impleme

[2021-09-09 11:13] g4s8 commented on #371
@olenagerasimova I see, so the main questions: what is the scope of these tokens? Can we use a single token for accessing different repositories, or it's one token per repository/organization? If it's not global (one token for all Artipie repos) then we can keep it inside repositories and not in `_credentials.yml`

[2021-09-09 12:27] olenagerasimova commented on #371
@g4s8 on the artipie side scope is managed by repository permissions, so I guess the real question is do we want to build correspondence between our own permissions and these tokens. I think it's not necessary now, we can add single token per user or single token per user in the repository. Second option seams more flexible and more adaptable for the scopes (if they will be required ever).

Note,

[2021-09-16 10:11] olenagerasimova opened #376 "Header values are not case-insensitive"
`MultipartHeaders` class makes header value lowercase while selecting headers by provided name. Such behavior is not correct, as header values are not case-insensitive, only names are. Do not forget to add corresponding test after fixing.

[2021-09-16 13:50] #376 closed

[2021-09-22 11:07] olenagerasimova opened #380 "Empty part in multipart body"
Multipart request body can have empty parts (example from `python twine upload`, this is a part of post multipart body):
[code]
In such cases, `RqMultipart.parts()` stacks and `RqMultipart.filter()` does not find required part.

[2021-09-22 11:08] olenagerasimova commented on #380
@g4s8 please, take a look it seems to be the reason of failure in https://github.com/artipie/pypi-adapter/pull/161

[2021-09-22 11:11] olenagerasimova commented on #380
[payload.txt](https://github.com/artipie/http/files/7210135/payload.txt)
Attaching full payload example

[2021-09-22 14:43] g4s8 opened #381 "Multipart request can ignore first part"
If a multipart request is not started with a preamble, the first part will be ignored.

[2021-09-22 15:11] #380 closed

[2021-09-22 15:11] #381 closed

[2021-09-23 06:25] olenagerasimova opened #383 "`RqMultipart`: colon in Content-Disposition field name value"
Content-Disposition header field `name` can contain colon in the value, in this case `RqMultipart` fails with NPE:
[code]
Here is the example from pypi multipart payload:
[code]
To reproduce, add a colon to any field name value in the `RqMultipartTest`.

[2021-09-23 06:26] olenagerasimova commented on #383
@g4s8 please, take a look

[2021-09-23 08:38] g4s8 commented on #383
@olenagerasimova please check #384

[2021-09-23 08:58] #383 closed

[2021-09-24 08:06] #362 closed

[2021-09-24 11:27] g4s8 commented on #380
@olenagerasimova I just checked your payload in #386 PR, and it's working fine. There was a problem in `payload.txt` file: it used `\n` line endings, where multipart expects `\r\n` parts separators.

[2021-10-05 07:48] g4s8 commented on #324
@artipie/members do you have a need for some additional matchers for http response?

[2021-10-05 07:55] olenagerasimova commented on #324
@g4s8 It would be convenient to have a response matcher for string, so we could use `StringContains()` etc

[2021-10-06 08:06] olenagerasimova commented on #371
done

[2021-10-06 08:06] #371 closed

[2021-10-24 00:12] baudoliver7 opened #396 "RsHasHeader can't check only one header among multiple ones"
Presently, when the response contains multiple headers, we must pass all of them at once to RsHasHeader's ctor to make it match.

By example, if the response contains headers `Content-Type: application/json` and `Content-Length: 123`, if you check only `Content-Type: application/json`, it will fail. You have to check both.

[2021-10-27 12:37] g4s8 opened #397 "Move Slice for handling HEAD requests from files-adapter"
Move `Slice` implementation for handling `HEAD` HTTP requests from artipie/files-adapter here, make it more flexible to add additional data to response headers which may be needed for concrete adapters implementation (e.g. maven-adapter appends checksums for HEAD requests of artifacts)

_Originally posted by @olenagerasimova in https://github.com/artipie/files-adapter/pull/79#discussion_r737157273

[2021-11-02 06:59] g4s8 commented on #397
@baudoliver7 I think we can update this `Slice` when artipie/asto#346 is done to change default behavior, but  artipie/asto#346 doesn't cover some special cases for some adapters, so we need to design it as flexible to be able to append some metadata in repositories without creating a new slice.

[2021-11-02 08:01] baudoliver7 commented on #397
@g4s8 Ok

[2021-11-03 08:55] #397 closed

[2021-11-03 08:55] 0pdd opened #400 "HeadSlice.java:33-36: Use this class in..."
The puzzle `397-03996e67` from #397 has to be resolved:

https://github.com/artipie/http/blob/b8f3464c79e78be921eade0810b705d44b357481/src/main/java/com/artipie/http/slice/HeadSlice.java#L33-L36

The puzzle was created by @baudoliver7 on 29-Oct-21.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the p

[2021-11-03 08:55] 0pdd commented on #397
@g4s8 the puzzle [#400](https://github.com/artipie/http/issues/400) is still not solved.

[2021-11-19 12:45] g4s8 opened #404 "Implement GzipSlice"
Add a new `Slice` implementation that checks that request `Accept-Encoding` header contains `gzip` value, e.g.: `Accept-Encoding: gzip` and compress output body with gzip and adds `Content-Encoding: gzip` header.

Headers docs: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding
Required for: artipie/git-adapter#1

[2021-11-19 13:59] olenagerasimova commented on #404
@g4s8 it seems that it would be better to perform header checking on the upper level with the help of `RtRule.ByHeader`, not in the new `GzipSlice`. What do you say?

[2021-11-19 14:50] g4s8 commented on #404
@olenagerasimova `RtRule.ByHeader` is just a routing rule, but gzip compression here is a part of content-negotiation: if client support gzip content (send `accept-encoding` header), then server compress it; but if client doesn't support it, then server returns uncompressed response body.

[2021-11-22 06:55] olenagerasimova commented on #404
@g4s8 the content-negotiation logic can be handled with the help of the rules on the adapter level
[code]
Thus, `GzipSlice` will gzip the content and add `Content-Encoding: gzip` header, download slice will return content as is. Otherwise, we will duplicate the logic of `DownloadSlice` in the `GzipSlice`, which does not seem necessary.

[2021-11-22 08:01] g4s8 commented on #404
@olenagerasimova but it'll be a lot of boilerplate code, since gzip encoding can be used **only if** client sends `accept-encoding: gzip`, and there are no valid scenarios to use it without content-negotiation.

So to keep classes simple, maybe we can introduce 2 classes: package-private `GzipSlice` (private to avoid incorrect usage by clients), and public `Slice` entry point with simple routing l

[2021-11-22 15:08] #400 closed

[2021-11-23 08:52] genryxy opened #406 "Fix problem with `Header` and `Headers.From`"
There is some problem with classes `Header` and `Headers.From`. When they are used in [this ](https://github.com/artipie/npm-adapter/pull/281) PR, the build failed. When this piece of code is specified in `com.artipie.npm.proxy.http.DownloadPackageSlice` it works and all tests are passed
[code]
Whereas when this piece of code is used in the same place, it fails with NPE
[code]

[2021-11-26 12:10] #404 closed

[2021-12-14 06:26] g4s8 commented on #158
@dgarus please check https://github.com/artipie/files-adapter/issues/77 issue, it was partially fixed by https://github.com/artipie/files-adapter/pull/89 - we need some base implementation for listing slice to include into different adapters and customize output format

[2021-12-22 21:23] baudoliver7 opened #412 "Be able to get multiple values from a param name"
Currently, we are able to get a single value of a param name (see [here](https://github.com/artipie/http/blob/1a64baa92f789e5b7314f1eb3fc30d7d04c1de9b/src/main/java/com/artipie/http/rq/RqParams.java#L53)).
However, there are some situations where it is necessary to have all values like [here](https://github.com/artipie/artipie/blob/90c304bb9075bd02e5ca97ecfcb078b90ee4ba79/src/main/java/com/artipie

[2021-12-24 07:44] g4s8 opened #413 "Parse request line query parameter list"
`RqParams` class returns `Optional<String>` for query parameters assuming that HTTP request line URI contains only one query param value for name. But  actually it may have many params with same name and different values. Let's add additional method to get all parameters for `RqParams`: `List<? extends String> values(String name)`

_Originally posted by @baudoliver7 in https://github.com/artipie/a

[2021-12-30 22:15] baudoliver7 commented on #412
Already mentioned in the ticket #413

[2021-12-30 22:16] #412 closed

[2022-01-11 14:56] #413 closed

[2022-01-11 14:57] g4s8 commented on #413
@Yuurga thanks for fixing this! @baudoliver7 the problem you've found was solved.

[2022-01-12 09:18] g4s8 opened #418 "Redesign multipart filter method"
Current design of `RqMultipart.filter` method leads to misunderstanding of its usage and unexpected behavior. Let's try to redesign it by providing new method and deprecating existing.

See this comment: https://github.com/artipie/pypi-adapter/pull/161#issuecomment-1010690896

[2022-01-13 10:52] baudoliver7 commented on #413
@Yuurga Ah, I see now. I was wrong. I put the wrong value, sorry.

[2022-01-13 10:53] baudoliver7 commented on #413
@Yuurga Ah, I see now. I was wrong. I put the wrong value, sorry.

[2022-01-13 11:29] g4s8 commented on #413
@baudoliver7 @Yuurga `<? extends String>` is used here to make this list readonly: users won't be able to add or insert something due to compilation error

[2022-01-14 07:42] g4s8 opened #420 "Integration tests for multipart"
Add integration test for multipart request parser.

Related: artipie/pypi-adapter#163

[2022-01-20 08:45] #420 closed

[2022-01-20 13:37] g4s8 opened #424 "Storage.Wrap doesn't include metadata method"
Metadata method is not included into standard decorator of `Storage` interface: `Storage.Wrap`, let's add missed method.

[2022-01-20 13:41] g4s8 opened #425 "Helper object to read metadata"
Let's add a helper object to read metadata from `Meta` interface with some standard methods, like:
[code]
will add more methods later.

[2022-01-21 14:22] #158 closed

[2022-01-21 14:22] 0pdd opened #426 "SliceListing.java:34-37: Test SliceListing when listing..."
The puzzle `158-b912e34b` from #158 has to be resolved:

https://github.com/artipie/http/blob/6a81452370b5318c5590d36639803595bfb4dc76/src/main/java/com/artipie/http/slice/SliceListing.java#L34-L37

The puzzle was created by Denis Garus on 21-Jan-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-01-26 14:34] #396 closed

[2022-01-26 14:34] 0pdd opened #430 "SliceListing.java:38-40: Implement HTML standard format...."
The puzzle `158-d63c4cb8` from #158 has to be resolved:

https://github.com/artipie/http/blob/340d89b249dd4785f858807108aa87593178a473/src/main/java/com/artipie/http/slice/SliceListing.java#L38-L40

The puzzle was created by Denis Garus on 21-Jan-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the

[2022-06-07 06:55] #426 closed

[2022-06-07 06:55] 0pdd commented on #158
@victornoel the puzzle [#unknown]() is still not solved; solved: [#426](https://github.com/artipie/http/issues/426).

[2022-06-20 06:08] #430 closed

[2022-07-07 10:10] 0pdd opened #463 "pom.xml:287-378: Improve code coverage by writing..."
The puzzle `144-89e0f885` from #144 has to be resolved:

https://github.com/artipie/http/blob/fee0c229b4c07cae1a4341d3382b70d1123b6773/pom.xml#L287-L378

The puzzle was created by @Swizbiz on 22-Jun-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is

[2022-07-07 10:10] 0pdd opened #464 "HeadSlice.java:34-38: Use this class in..."
The puzzle `397-026e389a` from #397 has to be resolved:

https://github.com/artipie/http/blob/fee0c229b4c07cae1a4341d3382b70d1123b6773/src/main/java/com/artipie/http/slice/HeadSlice.java#L34-L38

The puzzle was created by @Swizbiz on 22-Jun-22.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the probl

[2022-07-29 07:39] olenagerasimova opened #469 "Group permissions"
Let's implement group permissions: if the user is a member of the group and repository operation is granted to this group, then this operation should also be allowed to the user.

In the repo permissions, group names should start with `/`, is the example below `read` operation is granted for `readers` group
and every user within the group can read from the repository:
[code]

[2022-07-29 10:34] #464 closed

[2022-07-29 10:34] 0pdd commented on #464
The puzzle `397-026e389a` has disappeared from the source code, that's why I closed this issue.

[2022-07-29 10:34] 0pdd commented on #144
@0pdd the puzzle [#unknown]() is still not solved; solved: [#463](https://github.com/artipie/http/issues/463).

[2022-08-23 10:45] olenagerasimova commented on #469
not valid, check https://github.com/artipie/artipie/pull/1105

[2022-08-23 10:45] #469 closed

[2022-09-05 01:46] CChengjie opened #478 "tag missing problem"
I'm doing a research on tags .
We found that versions like **0.16.0、0.6.0** was released in Maven, but there was no corresponding tag in github, Can you help me with this?
1）What is the reason for tag's absence?

- a、This version code has problems, such as the loophole, compatibility and interface issues, etc.
- b、This version has functional problems, such as unreasonable function planning, basic